[2012-04-17 19:35] msridhar opened #1 "Fix CAst Java front-ends with AstTranslator.NEW_LEXICAL enabled"
While the JavaScript front-end works with the new scheme for handling lexical scopes, the Java front-ends do not.  Fix this.

[2012-07-03 22:13] xinl opened #3 "DefaultSourceExtractor inheritance chain broken"
In package com.ibm.wala.cast.js.html, DefaultSourceExtractor.java, line 29: the member class HtmlCallBack was set to private.

Because most of DefaultSourceExtractor's job is done by this member class, setting it to private basically made DefaultSourceExtractor unextendable.

Since many methods in HtmlCallBack are in protected scope, it seems the author meant to allow inheritance but mistakenly se

[2012-07-03 23:32] #3 closed, assigned to nobody

[2012-07-12 17:33] #1 closed, assigned to nobody

[2012-09-10 03:19] m402974 opened #4 "DomLessSourceExtractor does not extract source with correct line numbers"
In com/ibm/wala/cast/js/html/DomLessSourceExtractor.java, the line numbers of the extracted source does not match the line numbers of the original webpage.

The following steps can reproduce the problem.
1. Test it with the following website.
   http://deutsche-wolke.de
2. Print the positions of the startTag and endTag in handleText(Position p, String text) by this statement:

    scriptRegion.pri

[2012-11-15 21:48] #4 closed, assigned to nobody

[2013-01-31 18:30] msridhar opened #5 "support annotations in JDT frontend"
We should support getting method and class annotation information for the JDT frontend, like we currently do for bytecode.

[2013-02-03 15:25] #5 closed, assigned to nobody

[2013-02-07 00:14] cos opened #6 "Periodic cache wipe problem"
The SSA cache is intended to be implemented with soft references but, in the current implementation, it is wiped clean directly from time to time, bypassing the GC:

[code]

The problem is that wiping caches periodically creates new SSAInstructions and SSA
instructions are compared using reference identity. So, subsequent cgNode.getIR() invocations on the same node may return IRs with SSAInstructi

[2013-02-07 00:59] cos opened #8 "VectorGenFlowFunction not propagating 0 by default"
I don't know if this can be considered a bug or not, but it did give be a bit of a headache when I first used `VectorGenFlowFunction`.

`VectorGenFlowFunction.make(SparseIntSet.singleton(7))`  makes a flow function:

[code]

Should it make a flow function more akin to:

[code]

I guess `7 -> {}` is a performance optimization that assumes 0 on input.
What I don't understand is the reason for killin

[2013-02-19 21:37] cos opened #9 "Performance improvement when caching the IR and DefUse within CGNode"
A getIR() invocation on CGNode now requires going through the cache system, i.e. two HashSet lookups. A getDU() invocation does four lookups, as it includes a getIR() lookup. The HashSet is pretty fast but the extra lookups do take their toll (see below).

A simple solution is to put a the `IR` and `DefUse` as `WeakReference` fields within the `ExplicitCallGraph$(new CGNode)` implementation. The `

[2013-02-19 22:35] cos opened #10 "build.xml scripts failing on OS X with the Oracle JRE (i.e., Java 7)"
The culprit is the `special` tag required for Apple's Java implementation. The fix is to simply remove this tag as the Oracle OS X JRE conforms to the standard one. Still, it will break the build for people that have not switched to the Java 7 JRE yet.

[code]

[2013-02-20 19:24] msridhar opened #11 "com.ibm.wala.ide.tests depends on CAst projects"
This is inconsistent with our Getting Started documention, which doesn't indicate that you need the CAst projects to get ide.tests to compile:

http://wala.sourceforge.net/wiki/index.php/UserGuide:Getting_Started#Getting_the_code

We should either remove the dependence by adding a new project, or update the documentation.

[2013-04-08 17:54] #8 closed, assigned to nobody

[2013-04-08 21:07] msridhar opened #14 "Cleanup annotation reading code"
We have duplicated code for reading annotations in various places:

https://github.com/wala/WALA/blob/dc839aa132b7f1907b956c0261c07e1193b3d8c4/com.ibm.wala.core/src/com/ibm/wala/classLoader/ShrikeClass.java#L247

https://github.com/wala/WALA/blob/dc839aa132b7f1907b956c0261c07e1193b3d8c4/com.ibm.wala.core/src/com/ibm/wala/classLoader/ShrikeClass.java#L247

https://github.com/wala/WALA/blob/dc839aa1

[2013-04-08 23:40] msridhar opened #17 "ReferenceCleanser must die"
We need to replace the current combination of SoftReferences + ReferenceCleanser with a new caching mechanism with a reasonable default and easy tuning from client code.  See #6 for some relevant discussion, along with this older mailing list thread:

https://groups.google.com/forum/#!searchin/wala-sourceforge-net/soft%2420reference/wala-sourceforge-net/QsoG_pF7ehc/R4w4S7ZQB54J

[2013-04-08 23:41] #6 closed, assigned to msridhar

[2013-04-09 21:14] msridhar opened #18 "get wala.core regression tests passing on Java 7"
Some tests currently fail due to differences in the standard library, I think.

[2013-04-09 21:15] #9 closed, assigned to nobody

[2013-04-09 23:05] msridhar opened #19 "Expose output file name from DomLessSourceExtractor"
We've seen at least one client where knowing this file name can be useful, e.g., for filtering analysis results.  The file is created here:

https://github.com/wala/WALA/blob/84da2bd50a8d5d6e804e9e33c608868669485c0e/com.ibm.wala.cast.js/source/com/ibm/wala/cast/js/html/DomLessSourceExtractor.java#L261

[2013-04-10 15:30] msridhar opened #20 "Compile all WALA projects against Java 6"
Some projects like wala.core still compile against a Java 1.5 target.  Java 6 has been out since the end of 2006, so I think we're safe to update.

[2013-04-10 19:25] #19 closed, assigned to nobody

[2013-04-10 20:28] msridhar opened #21 "crash building JS IR due to dead code"
Here's an example that causes a crash:

[code]

Looks like a dead code issue.

[2013-04-10 23:02] #20 closed, assigned to nobody

[2013-04-11 03:23] #21 closed, assigned to juliandolby

[2013-04-29 23:46] msridhar opened #23 "Add appropriate @Override annotations"
Now that we're building with Java 1.6, we have tons of warnings due to missing @Override annotations.  Easy to fix, but we should do it at a point where it won't be too painful in terms of causing conflicts, say right after the next release.

[2013-05-25 15:47] #10 closed, assigned to nobody

[2013-05-28 16:21] #18 closed, assigned to nobody

[2013-05-28 16:39] msridhar opened #25 "Flakiness in running tests under Maven"
When running `mvn clean verify` after a fresh checkout, the WALA core tests fail to run, with the following error:

[code]

However, if we run `mvn clean verify -DskipTests=true`, and then run `mvn clean verify`, the tests run fine and pass.  We should probably figure out what's going on here.

[2013-05-28 19:02] msridhar opened #26 "Fix source file tests when run under Maven"
We currently disable 4 tests when running under Maven:
- `CallGraphTest.testHello()`
- `CallGraphTest.testHelloAllEntrypoints()`
- `com.ibm.wala.core.tests.cha.SourceMapTest.testFromJar()`
- `com.ibm.wala.core.tests.cha.SourceMapTest.testHello()`

The reason is that these tests assume that they are reading files from the filesystem, not a jar.  We should fix things so that either (1) they can read

[2013-05-29 15:32] msridhar opened #27 "support invokedynamic"
This will be more important when Java 8 is released, as lambdas my be compiled using invokedynamic:

http://zeroturnaround.com/rebellabs/java-8-the-first-taste-of-lambdas/#!/

[2013-06-03 17:49] msridhar opened #28 "another JavaScript try-finally crash"
We currently crash for the following test case:

[code]

I added `TestSimpleCallGraphShape.testTryFinallyCrash()` for the above (it's currently ignored).

[2013-07-09 12:53] sewe opened #29 "Getting Started guide's "Building the code" doesn't work"
Building from source following the [Getting Started guide](http://wala.sourceforge.net/wiki/index.php/UserGuide:Getting_Started#Building_the_code) unfortunately fails on a `mvn clean verify -DskipTests=true -q`:

[code]

Is there a step missing in the Getting Started guide?

[2013-07-09 16:28] #29 closed, assigned to nobody

[2013-08-15 20:38] #28 closed, assigned to juliandolby

[2013-08-15 20:39] #23 closed, assigned to nobody

[2013-09-12 05:29] michaelheilmann opened #32 "Two classes in com.ibm.wala.analysis.reflection are not public"
FactoryBypassInterpreter and GetClassContextSelector in com.ibm.wala.analysis.reflection are not public
and can not be accessed from outside package. The classes should be accessible from outside packages.

[2013-09-14 00:09] michaelheilmann opened #33 "JavaLangClassContextInterpreter and JavaLangClassContextSelector improvement"
As far as I can see JavaLangClassContextInterpreter and JavaLangClassContextSelector do not take advantage of the special case when the first argument to getMethod or getDeclaredMethod - i.e. the string of the method name - is a constant (cf. ClassFactoryContextInterpreter and ClassFactoryContextSelector which use a similar mechanism). Taking this into account would increase the precision in that

[2013-09-16 17:32] #32 closed, assigned to nobody

[2013-10-23 17:40] drzhonghao opened #35 "Wala crashes on analyzing bobo"
When I use Wala to build call graphs for bobo, it crashes.
The source files of bobo can be downloaded from https://github.com/javasoze/bobo

The stack is as follows:
 com.ibm.wala.util.debug.UnimplementedError: unexpected instance key [<src-class: Lcom/browseengine/bobo/util/ListMerger$MergedIterator]
    at com.ibm.wala.util.debug.Assertions.UNREACHABLE(Assertions.java:55)
    at com.ibm.wala.cas

[2013-10-26 16:41] #14 closed, assigned to nobody

[2013-10-26 16:42] msridhar opened #36 "make NodeDecorator generic"
`com.ibm.wala.viz.NodeDecorator` should be a generic type, parameterized by a node type T.

[2013-11-04 18:50] msridhar opened #37 "At least compile all projects in Travis build"
Right now, I don't think we try to compile the ide.jsdt.\* projects in the Maven scripts.  We should at least build them so we detect any compile error type regressions.

[2013-11-09 12:04] michaelheilmann opened #38 "Monotonic caches"
I am facing another problem here though; the caches are monotonic, i.e. they grow but never shrink. I know that compilers and data-flow analysis (and associated tools) are conceptually one-shot tools i.e. they assume to terminate fairly soon. Now this is not an issue of concurrent or parallel execution but rather an issue of that termination assumption: I have a single-threaded program analyzing a

[2013-11-10 17:20] #38 closed, assigned to nobody

[2013-11-27 00:30] msridhar opened #39 "add handling of zero-length arrays to refinement-based pointer analysis"
Our standard pointer analyses can now reason that arrays of length 0 have no contents, but the refinement-based pointer analysis does not.  This is now causing test failures on recent versions of ArrayList in the Java 7 libraries, forcing us to disable some tests (see b057e35e2c9b34f0f3760153f25816415b528c27).  We should enhance the refinement-based analysis to reason precisely about length 0 arra

[2014-03-12 22:09] sblackshear opened #42 "BypassMethodTargetSelector ignores parent if it is a subclass of ClassHierarchyMethodSelector"
The getCalleeTargetMethod of BypassMethodTargetSelector is supposed to delegate to its parent method selector if both the ClassHierarchyMethodTarget selector and the summaries fail to get the target of the method, but it fails to do this properly if its parent selector is a subclass of ClassHierarchyMethodTargetSelector. The problem is in the check

if (parent instanceof ClassHierarchyMethodTarget

[2014-04-23 13:32] michaelheilmann opened #43 "com.ibm.wala.util.warnings.Warnings.toString() may cause java.util.ConcurrentModificationException"
com.ibm.wala.util.warnings.Warnings.toString() accesses the collection of warnings when calling T.addAll(warnings). This may cause a  java.util.ConcurrentModificationException
if a warning is added to the collection or the collection is cleared while T.addAll(warnings) is being executed.

[2014-04-23 13:38] michaelheilmann opened #44 "Duplicate of #43."
Duplicate of #43. (I will re-use this issue asap).

[2014-04-24 19:35] #43 closed, assigned to nobody

[2014-04-24 19:36] #44 closed, assigned to nobody

[2014-04-24 19:36] #37 closed, assigned to nobody

[2014-05-16 17:13] sewe opened #45 "Stack overflow in AbstractNestedJarFileModule's Warning.getMsg()"
I just encountered the following:

java.lang.StackOverflowError: null
    at com.ibm.wala.util.warnings.Warning.toString(Warning.java:80)
    at com.ibm.wala.classLoader.AbstractNestedJarFileModule$1.getMsg(AbstractNestedJarFileModule.java:79)
    at com.ibm.wala.util.warnings.Warning.toString(Warning.java:82)
    at com.ibm.wala.classLoader.AbstractNestedJarFileModule$1.getMsg(AbstractNestedJarFi

[2014-05-16 18:00] #45 closed, assigned to nobody

[2014-05-18 00:13] michaelheilmann opened #47 "Some code for autoboxing semantics"
I have in my code base the following code for autoboxing support; maybe it can be added to TypeReference or wherever it may be appropriate. It seems like a nice addition when dealing with type signatures.

[code]

[2014-05-20 09:09] michaelheilmann opened #50 "ohloh.net project entry has outdated source code location"
The code location of Wala on ohloh.net is outdated which makes ohloh.net conclude that the project is inactive. Someone with the right permissions should fix that.

[2014-05-20 19:26] #42 closed, assigned to nobody

[2014-05-23 11:11] michaelheilmann opened #54 "Fix warnings"
There are lots of warnings about redundant casts, redundant checks, .... in Eclipse. I will fix many of them soon and make the code using generics where possible (many old parts are written in pre-generics style). I announce that here, so there is no need for others to do that.

Is there a reason that `com.ibm.wala.util.collections.Filter` is deprecated?
The deprecation causes warnings all over th

[2014-06-22 19:14] msridhar opened #56 "Update to compile with Eclipse Luna"
I'm running Eclipse Kepler SR2 with the patched JDT to handle Java 8, and I get the following compile errors in com.ibm.wala.ide.jdt:

[code]
I'm guessing these errors will persist under Eclipse Luna.  Nothing urgent, just noting for future reference.

[2014-06-26 23:00] #33 closed, assigned to nobody

[2014-06-26 23:29] #36 closed, assigned to nobody

[2014-06-28 22:50] michaelheilmann opened #57 "Test failing on Windows 8 box (Test written in platform specific way)"
I receive the following errors when running `mvn clean verify` on a Windows 8 box. It seems as if the test assumes a Linux box as `/tmp` is usually a valid path there i.e. the test is written in a platform specific way.

[code]

[2014-07-09 16:41] msridhar opened #58 "Filter vs Predicate"
We should re-write the code using `com.ibm.wala.util.collections.Filter` to use `com.ibm.wala.util.Predicate` instead.

[2014-11-11 19:10] msridhar opened #60 "Java7CallGraphTest.testOcamlHelloHash() failing"
This regression test fails for me when running on JDK 1.7.0_72.  I wonder if the JDK update caused the problem?  @juliandolby can you reproduce?

[2014-11-12 04:01] #60 closed, assigned to nobody

[2015-01-06 11:22] sewe commented on #27
Are there any updates/plans on this?

FWIW, the OPAL analysis library has the very nice ability to resolve an `invokedynamic` generated by the Oracle `javac` based on its naming conventions. See <https://bitbucket.org/delors/opal/src/36975359fad1875b494f7690aafd958d9534f2bc/OPAL/br/src/main/scala/org/opalj/br/instructions/INVOKEDYNAMIC.scala?at=master#cl-95>. Maybe it is worth adding this feature

[2015-01-06 15:25] msridhar commented on #27
Julian has actually added a lot of support for invokedynamic to WALA.  @juliandolby can we close this issue?

[2015-05-19 05:58] msridhar opened #67 "Weird generic types in DefaultFixedPointSystem"
When fixing another bug, I noticed some strange generic type instantiations in DefaultFixedPointSystem.  In particular, all the `addStatement` methods instantiate generic types with `?` or no type parameter instead of using `T`, e.g.:

https://github.com/wala/WALA/blob/master/com.ibm.wala.util/src/com/ibm/wala/fixedpoint/impl/DefaultFixedPointSystem.java#L107
https://github.com/wala/WALA/blob/mast

[2015-05-20 04:01] sblackshear opened #68 "Inconsistency in published Sonatype artifacts"
The [util](https://oss.sonatype.org/content/repositories/snapshots/com/ibm/wala/com.ibm.wala.util/) artifact was updated yesterday, but [core](https://oss.sonatype.org/content/repositories/snapshots/com/ibm/wala/com.ibm.wala.core/) and [shrike](https://oss.sonatype.org/content/repositories/snapshots/com/ibm/wala/com.ibm.wala.shrike/) have not been updated since November 2014. Tools that rely on bo

[2015-05-20 04:07] msridhar commented on #68
@sblackshear I just updated the core and shrike artifacts.  Can you see if this fixes the problem?

[2015-05-20 05:14] sblackshear commented on #68
Yeah, that fixed it. Thanks!

[2015-05-20 05:14] #68 closed

[2015-05-20 05:39] msridhar opened #69 "proper Maven Central support"
We have some unofficial jars for wala.util, wala.shrike, and wala.core in the Sonatype repository, as noted in #68.  But, these aren't properly versioned, so updating them is completely hackish right now.  We need to put at least these jars in Maven Central.  We should do this along with cutting a new WALA release.  Doing it properly requires changing version numbers in various XML files; we shoul

[2015-05-27 17:04] msridhar opened #71 "Stop using Sourceforge"
It looks like sketchy stuff is happening on Sourceforge:

https://news.ycombinator.com/item?id=9612152

It will take some work, but I think it should be a medium- to long-term goal to get our site, hosted files, etc. off of Sourceforge.

[2015-05-30 14:48] msridhar commented on #69
This is done for the above components, with release 1.3.7:

http://search.maven.org/#search|ga|1|com.ibm.wala

We can open other issues if we want more components in Central.

[2015-05-30 14:48] #69 closed

[2015-05-30 14:51] msridhar commented on #58
@cos this is fixed now, yes?

[2015-05-31 03:59] crudbug commented on #71
:+1:

Hi, I am learning WALA for my project work on android analysis.

Wanted to give a shout here !

[2015-06-04 17:55] cos commented on #58
Yes, it is fixed by #63.

[2015-06-04 17:56] #58 closed

[2015-06-14 01:14] msridhar opened #72 "move tabulation solver to wala.util"
`TabulationSolver` should live in wala.util, as it's completely language independent.

[2015-06-16 17:56] msridhar opened #74 "better expose NullPointerAnalysis and InterprocNullPointerAnalysis"
@mohrm talked about pruning certain imprecise exceptional edges from control-flow graphs based on a null-pointer analysis.  I found the NullPointerAnalysis and InterprocNullPointerAnalysis classes in WALA, but I didn't see any uses of them.  Maybe we can provide a standard API for computing pruned CFGs based on these analyses and make it more visible?

[2015-06-18 12:05] mohrm commented on #74
There is the class [NullPointerAnalysis](https://github.com/wala/WALA/blob/master/com.ibm.wala.core/src/com/ibm/wala/cfg/exc/NullPointerAnalysis.java) which provides several utility methods to accomplish something like that:
Through the method computeInterprocAnalysis(...) you can get an [InterprocAnalysisResult](https://github.com/wala/WALA/blob/master/com.ibm.wala.core/src/com/ibm/wala/cfg/exc/I

[2015-06-18 12:33] jgf commented on #74
@msridhar I support the idea of making it more visible, but I'm unsure about which form the standard API should have. Do you already have something in mind?

[2015-06-18 17:08] msridhar commented on #74
We have the class [PrunedCFG](https://github.com/wala/WALA/blob/master/com.ibm.wala.core/src/com/ibm/wala/ipa/cfg/PrunedCFG.java) which gives a standard way to prune edges from a `ControlFlowGraph`.  [ExceptionPrunedCFG](https://github.com/wala/WALA/blob/master/com.ibm.wala.core/src/com/ibm/wala/ipa/cfg/ExceptionPrunedCFG.java) shows a use of the class, to prune *all* exceptional edges from a CFG.

[2015-06-19 15:03] mohrm opened #77 "make maven builds reproducible"
Doing a mvn clean should delete all files which have been downloaded or created during other maven builds. This would enable reproducible builds and uncover nasty errors which only occur if these files are not present.

[2015-06-19 16:37] msridhar commented on #77
Agreed that ideally we should have something like this.  Since it takes quite a while to download some of the third-party dependencies, I'm not sure that the `clean` target should delete all those things.  Maybe we should add a different target for this?  I'm not a maven expert, so not sure how this is typically done.

As an alternative, one thing I do is simply do a fresh clone from a local bare

[2015-06-23 09:16] mohrm commented on #77
Okay, this is a workaround :)
Sure, it does not need to be mvn clean which deletes all these files. However, I still think it would be good if this could be integrated into the maven lifecycle somehow.

[2015-06-23 19:39] Ido-Efrati opened #80 "com.ibm.wala.dalvik.test: Compilation failure"
[INFO] Building jar: /home/user/WALA/com.ibm.wala.cast.js.test/test.jar
[INFO] Building jar: /home/user/WALA/com.ibm.wala.dalvik/dalvik.jar
[ERROR] Failed to execute goal org.eclipse.tycho:tycho-compiler-plugin:0.21.0:compile (default-compile) on project com.ibm.wala.dalvik.test: Compilation failure: Compilation failure:
[ERROR] /home/user/WALA/com.ibm.wala.dalvik.test/source/com/ibm/wala/dalvik/t

[2015-06-23 21:37] msridhar commented on #80
See [this message](https://groups.google.com/d/msg/wala-sourceforge-net/cBYsfEvYVG0/Ua52dyQQU-YJ) for a fix.  Unfortunately, there's no good way for us to automatically pull in this jar.  For now, I've updated the Getting Started guide to indicate that `dx.jar` needs to get pulled in manually.  Let me know if you think any other documentation would be useful.

[2015-06-23 21:37] #80 closed

[2015-06-25 16:55] msridhar opened #81 "make JavaScript slicer code more visible"
I thought we didn't support slicing for JavaScript, but then I saw this code:

https://github.com/wala/WALA/blob/master/com.ibm.wala.cast.js.test/harness-src/com/ibm/wala/cast/js/test/TestJavaScriptSlicer.java#L74

We should make this more visible by pulling it out to a `JavaScriptSlicer` class in the main `wala.cast.js` project.

[2015-06-30 15:44] Ido-Efrati opened #82 "Using ControlDependenceOptions.NO_EXCEPTIONAL_EDGES results in java.lang.NullPointerException"
Exception in thread "main" java.lang.NullPointerException
	at com.ibm.wala.util.graph.dominators.DominanceFrontiers.getDominanceFrontier(DominanceFrontiers.java:50)
	at com.ibm.wala.cfg.cdg.ControlDependenceGraph.buildControlDependence(ControlDependenceGraph.java:77)
	at com.ibm.wala.cfg.cdg.ControlDependenceGraph.<init>(ControlDependenceGraph.java:231)
	at com.ibm.wala.cfg.cdg.ControlDependenceGr

[2015-07-14 16:22] steohan opened #83 "Why are SSAPiInstructions inserted at the end of basic blocks?"
Is there a reason SSAPiInstructions are inserted at the end of basic blocks?

I think it is not intuitive: Usually basic blocks have a single exit point. In case of a conditional branch, there will be pi instructions for each successor of the branch. Both pi instructions are inserted into the basic block of the branch. As a result this basic block has now two exit points.

[2015-07-16 00:14] cos commented on #83
The SSAPiInstructions do not actually introduce new control-flow, they are only markers you can use for other analyses. What are you trying to do? If they are simply in your way, you can disable them from [SSAOptions](http://wala.sourceforge.net/javadocs/trunk/com/ibm/wala/ssa/SSAOptions.html).

[2015-07-23 09:14] steohan commented on #83
We have two analysis, one needs the SSAPiInstructions, while the other may have a problem with them. But it is nothing we can't fix.

I just thought, that the pi instructions are inserted in the control-flow between the condition and its successors. If you "execute" the SSA form, you need to execute one of the pi-assignments, after branching. So they should introduce new control-flow, shouldn't th

[2015-08-03 17:27] quizzo opened #86 "runtime of backward slice issue"
Per Manu's request (https://groups.google.com/forum/#!topic/wala-sourceforge-net/UvmrWews4CM)

I have noticed that backward slice is much slower than forward slice.
I ran forward and backward slice on 5 pretty small applications (about 50LOC, each)
and got the following results

FW 3.112s  vs. BW 5.242s
FW 12.594s vs. BW 49.808s
FW 12.338s vs. 50.007s
[code]
finding the statement for slice
[code]

[2015-08-05 18:46] codelion commented on #71
:+1: to move away from sourceforge as soon as possible.

[2015-08-06 09:05] mhmughees opened #87 "WALA installation error"
I am new to wala. Trying to configure it by following steps given at wala: gettingstarted.

However, I have to face errors on each example I am trying to run. Please look at following errors:

1- Example  SWTTypeHierarchy
 PANIC: roots.size()=0

2- Example PDFTypeHierarchy
spawning process [C:/Program Files (x86)/Graphviz2.38/bin/dot.exe, -Tpdf, -o, D:\WALAOut\th.pdf, -v, D:\WALAOut\temp.dt] proce

[2015-08-06 10:32] herda commented on #82
I also get this exception when the program I want to slice contains arrays and when I use ControlDependenceOptions.NO_EXCEPTIONAL_EDGE.

[2015-08-06 15:44] msridhar commented on #86
Which exact source and sink statements were used to produce these results?

FW 12.594s vs. BW 49.808s
FW 12.338s vs. 50.007s

And can you confirm that the forward and backward slices were roughly the same size in these cases?

[2015-08-06 15:46] msridhar commented on #82
Can someone give more information on how to reproduce?  Input program, code to construct call graph, statement to slice from, etc.

[2015-08-06 15:53] quizzo commented on #86
FW stmt: Statement s_src = findGeneric(mainNode, SSANewInstruction.class, Location.FIRST);
another option is to use the readLine using the findCallTo method (as suggested in the wala docs)
BW stmt: Statement s_sink = findGeneric(mainNode, SSAReturnInstruction.class, Location.LAST);

Would you like me to run these again and upload the times I am getting?
How would I check that the backward/forward

[2015-08-06 16:00] quizzo commented on #86
For runtime:
just ran sorting code with the following statements and got the following times:

       CFG creation: 6.711 s
      Foward slice: 13.815 s
   Backwards slice: 50.707 s
        for forward I tried with both
		```Statement s_src = findGeneric(mainNode, SSANewInstruction.class, Location.FIRST);```

               and
```		Statement s_src2 = findCallTo(mainNode, "readLine", SliceType.FOR

[2015-08-06 16:26] herda commented on #82
I am trying to use the WALA slicer as shown in this user guide:

http://wala.sourceforge.net/wiki/index.php/UserGuide:Slicer

It tries to create the backward slice of the main method using the first occurrence of a println statement. The problem is that as soon as I have an array in the code slicing takes a lot of time(never got one to finish) and also the exception described above is thrown.

Als

[2015-08-06 17:23] cos commented on #83
While SSAPiInstructions do have a reference to a basic block number, they do not influence the control-flow at all, i.e., they do not introduce any branching. You can safely simply ignore them when "executing" the SSA form in some way.

[2015-08-06 18:08] #82 closed

[2015-08-06 18:38] msridhar commented on #86
I can't reproduce the slow backward slice on WALA master.  Can you pull the latest code and re-confirm?  And also can you report `slice_back.size()` for the backward slice?  For forward slice, I get a slice size of 11338 (slicing from the readLine call).  For backward slice, I get a slice size of 6941, and it actually runs faster.

[2015-08-06 18:44] quizzo commented on #86
forwards slicing...
size of forward:22770
backwards slicing...
size of back:47594

I will try to pull and see if this changes anything

[2015-08-06 18:45] msridhar commented on #86
Which JDK library version are you analyzing?

On Thu, Aug 6, 2015, 11:44 AM quizzo <notifications@github.com> wrote:

--
--Manu

[2015-08-06 18:49] quizzo commented on #86
java_runtime_dir =C:/Program Files/Java/jre7/lib/

[2015-08-06 18:50] quizzo commented on #86
After a pull
forwards slicing...
size of forward:22770
backwards slicing...
size of back:47594
#########################
Timing:
      CFG creation: 2.356 s
      Foward slice: 23.077 s
   Backwards slice: 62.677 s

[2015-08-06 18:56] msridhar commented on #86
Ok.  Fundamentally, the only way forward and backward slicing differ at an implementation level is [right here](https://github.com/wala/WALA/blob/13a46d8ea3d0df13842ef53ea30ea839f9eb3cc0/com.ibm.wala.core/src/com/ibm/wala/ipa/slicer/Slicer.java#L252), where we use a [`BackwardsSupergraph`](https://github.com/wala/WALA/blob/13a46d8ea3d0df13842ef53ea30ea839f9eb3cc0/com.ibm.wala.core/src/com/ibm/wala

[2015-08-06 19:29] quizzo commented on #86
Is there anything in specific I am looking for in the Tabulation Solver prints to the console?

[2015-08-06 19:32] quizzo commented on #86
the forward started with 1000 and ended in 343000
the backward started with 1000 and ended in 949000

[2015-08-06 19:36] Ido-Efrati commented on #86
In addition, I tried to add java\/lang\/Throwable\/.* to the exclusion file (since I saw a lot of
[code]
but even with this exclusion, I still see them. Why is this?

[2015-08-06 20:06] quizzo commented on #86
In addition, I tried to add java\/lang\/Throwable\/.* to the exclusion file (since I saw a lot of
[code]

[2015-08-06 20:17] msridhar commented on #86
I don't think your exclusion will catch the `Throwable$PrintStreamOrWriter`; maybe just write it explicitly?

In any case, the verbose output from the solver indicates that the backwards slicer is running almost 3 times as many fix point iterations as the forward slicer, which roughly corresponds to the difference in running time.  So I'm going to close this issue.

[2015-08-06 20:17] #86 closed

[2015-08-06 20:18] msridhar commented on #83
Closing as I don't think there's a bug here

[2015-08-06 20:18] #83 closed

[2015-08-06 20:19] quizzo commented on #86
Thank you for the update. One last question, can you think of a reason the backward has almost 3 times more fix points?

[2015-08-06 20:24] msridhar commented on #86
It's hard to tell; a ton of library code is being analyzed.  It's either
that simply more code is relevant, or that the backward slice hits upon
some analysis imprecision that causes more code to be pulled in.

On Thu, Aug 6, 2015 at 1:19 PM quizzo <notifications@github.com> wrote:

--
--Manu

[2015-08-06 20:26] msridhar commented on #87
Can you successfully build the code using Maven, as described [here](http://wala.sourceforge.net/wiki/index.php/UserGuide:Getting_Started#Building_the_code)?  If so, does this command succeed?

    mvn clean verify -B -q

If both of those succeed, the code is building and running fine; so it's an issue with the launchers.  I pushed a fix for issue 3 above.

[2015-08-06 20:29] msridhar commented on #56
This is fixed now

[2015-08-06 20:29] #56 closed

[2015-08-15 18:11] mherzberg opened #88 "Different call graphs for APK on subsequent runs"
I am struggling to build Java call graphs from APK files in a reproducable manner. I expect the call graph to be the same every time I build it, but the number of nodes differ up to a couple hundred between subsequent runs, although the code and circumstances do not seem to differ. Does anyone have an idea of what I am doing wrong?

I added some sample code below. It runs the ZeroCFABuilder 100 ti

[2015-09-20 17:25] msridhar commented on #88
Sorry for the slow response.  This is bad.  Can you give a URL of an APK file on which you're observing this behavior?

[2015-10-03 19:03] kripton commented on #88
Here's one version of the app, however I don't know if that's the one the OP has problems with: http://www.appjenny.com/Android/App/88082/de.guh.finanzchecker/Download

[2015-10-09 15:13] mherzb commented on #88
Sorry for the late reply. I tried narrowing down the issue to just a few classes, but was unsuccessful. The issue even occurs when analysing a freshly created [Apache Cordova](http://cordova.apache.org/) application. I assume it has to do with some part of the Apache Cordova framework. I compiled one for you and uploaded it [here](https://bwsyncandshare.kit.edu/getlink/fi4YEq2cozQxHfLfhXh3MKqV/Hel

[2015-10-11 22:42] msridhar commented on #88
Ok, so I spent a bit of time on this, and one issue is there seems to be considerable non-determinism in the `AndroidEntryPointLocator`.  If you change the driver code to the following, you'll see the non-determinism:
[code]
The entrypoint counts I see vary between 638 and 675.

I'm not too familiar with this Android entrypoint code.  @mohrm do you know this code better?  Could you take a look?

[2015-10-14 16:38] msridhar commented on #87
Going to close this one out assuming it got fixed.  If not, please re-open.

[2015-10-14 16:38] #87 closed

[2015-10-19 16:45] msridhar opened #90 "better documentation for ReflectionOptions"
The code implementing the behavior of these options is spread across multiple classes.  We should have a wiki page documenting what they mean, with pointers to relevant source code.

[2015-10-22 17:33] quizzo opened #91 "different # of nodes in an SDG when using reflection options"
Per Manu's request:

 For the following reflection options I got the following stats:
APPLICATION_GET_METHOD, FULL, NO_FLOW_TO_CASTS,
NO_FLOW_TO_CASTS_APPLICATION_GET_METHOD, NO_FLOW_TO_CASTS_NO_METHOD_INVOKE,
NO_METHOD_INVOKE, ONE_FLOW_TO_CASTS_APPLICATION_GET_METHOD ,
ONE_FLOW_TO_CASTS_NO_METHOD_INVOKE

Call graph stats:
  Nodes: 234
  Edges: 400
  Methods: 228
  Bytecode Bytes: 10690
SDG # of n

[2015-10-22 17:55] msridhar commented on #91
@quizzo which JDK library version are you analyzing?

[2015-10-22 18:00] quizzo commented on #91
java version "1.7.0_25"

[2015-10-22 18:01] quizzo commented on #91
please let me know if you need my code for the Options/ cha/ etc.

[2015-10-27 06:33] yolapop opened #92 "Use WALA in intellij"
Is there any instruction to use WALA in Intellij? I used to be able to import them but then I changed my computer and I forgot.

[2015-11-19 02:39] denis-bogdanas commented on #92
I subscribe to this question.

[2015-11-19 04:24] msridhar commented on #92
I don't know much about IntelliJ.  I think you'll have better luck getting help from [the mailing list](https://lists.sourceforge.net/lists/listinfo/wala-wala) than posting an issue here.  I'll leave this open for now; if we find a good solution, we should document it and add it to the wiki.

[2015-12-10 15:49] Ido-Efrati commented on #91
any suggestions ?

[2015-12-10 20:08] msridhar commented on #91
Is this a serious blocker issue for anyone?  I will try to look soon, but it will take some time to investigate.

[2015-12-10 20:16] quizzo commented on #91
Not a blocker, but would like to know.

On Thu, Dec 10, 2015 at 3:08 PM, Manu Sridharan <notifications@github.com>
wrote:

[2015-12-12 00:48] msridhar commented on #91
@quizzo please post your driver code for constructing the slice; that would be helpful.

[2015-12-14 19:20] quizzo commented on #91
@msridhar I am using the simple slicer example (with minor changes). Attached is the code
        AnalysisScope scope = AnalysisScopeReader.makeJavaBinaryAnalysisScope(pathToFile, exclusion_file); // the basic exclusion file that wala has as an example
            e = Util.makeMainEntrypoints(scope, cha);
        AnalysisOptions options = new AnalysisOptions(scope, e);
        options.setReflectio

[2015-12-26 03:55] nisiyama opened #93 "Inconsistent Position Information for branch instruction"
Position information for some branch instruction sometimes corresponds to inconsistent source location.
In the last part of **AstCFG*** constructor of ***com.ibm.wala.cast.ir.translator.AstTranslator.AstCFG***, new branch instructions (e.g. SSAGotoInstruction, etc.) are created with new instruction position (represented by variable **X**) as instruction index.  I think the instruction index should

[2016-01-18 21:57] denis-bogdanas opened #94 "build instructions for windows."
After getting some errors, I was able to build WALA 1.3.8 with the following steps:
1. Checkout in a dir that doesn't contain spaces.
2. Comment (or delete) the foloowing line, in one of manifest.mf files:
   org.eclipse.jdt.launching.macosx;resolution:=optional
   3.
   mvn clean verify -DskipTests=true -q

Could you please update the build instructions?

[2016-01-19 01:42] denis-bogdanas commented on #56
I still get a similar error with wala 1.3.8:

The type FakeExceptionTypeBinding must implement the inherited abstract method ITypeBinding.getDeclaringMember()

[2016-01-19 02:39] denis-bogdanas opened #95 "Outdated WALA for Eclipse instructions"
Hi,
I tried to follow http://wala.sourceforge.net/wiki/index.php/GettingStarted:wala.eclipse but it seems outdated. There's no project com.ibm.wala.eclipse in this repository. I also tried to run HeadlessWala launcher. It says "Could not launch the application because the associated workspace is already in use".

Could you please update the wiki page?

thanks,
Denis

[2016-01-20 20:37] denis-bogdanas opened #96 "PDFCallGraph example does not work"
Hi,
I tried to run PDFCallGraph example. It outputs the attached PDF. The pdf only contains some rectangles, no graph-like pictures. I'm attaching it.

Context: latest GraphViz, wala 1.3.8, Java 8, Windows 7. Version of JLex.jar from getting started guide.

Here is the console output:

Call graph stats:
  Nodes: 5149
  Edges: 16180
  Methods: 4799
  Bytecode Bytes: 285896

spawning process [d:/Pro

[2016-02-13 01:07] xuzhao9 opened #97 "maven build error"
Hello all,
I am new to Wala. The version I am using is just git clone this repository.
I tried to build wala using the following command:
mvn clean verify -DskipTests=true -q
Here is the error I get:
[ERROR] WALA/com.ibm.wala.dalvik.test/source/com/ibm/wala/dalvik/test/util/Util.java:[62]
[ERROR] com.android.dx.command.Main.main(new String[]{"--dex", "--output=" + f.getAbsolutePath(), jarFile});

[2016-03-11 19:28] Isweet commented on #71
Are you guys still interested in this?

If so, where would you want the new documentation? The GitHub wiki for this repository?

[2016-03-11 22:23] Isweet commented on #71
I am currently porting the sourceforge wiki. Everything is under [SourceForge Documentation](https://github.com/wala/WALA/wiki/SourceForge-Documentation).

[2016-03-11 22:27] msridhar commented on #71
We are definitely still interested in this, thanks for taking a look!  Some work on porting documentation was done by @cos already, and was placed in the GitHub wiki, where you are working too.  Have you ported all the documentation, or is it still a WIP?

[2016-03-11 23:32] Isweet commented on #71
Still a WIP. Ported the whole user guide though. Everything is linked in the sidebar.

[2016-03-11 23:51] msridhar commented on #71
Nice! I am pretty busy through the end of March, but I can take a closer
look after that.  Thanks again!

On Fri, Mar 11, 2016, 3:33 PM Ian Sweet <notifications@github.com> wrote:

[2016-03-28 17:34] liblit opened #98 "Eclipse Mars build failure for FakeExceptionTypeBinding"
Class `com.ibm.wala.cast.java.translator.jdt.FakeExceptionTypeBinding` fails to build under Eclipse Mars (4.5.2). One error is reported for line 58 of `com.ibm.wala.ide.jdt/source/com/ibm/wala/cast/java/translator/jdt/FakeExceptionTypeBinding.java`: `The type FakeExceptionTypeBinding must implement the inherited abstract method ITypeBinding.getDeclaringMember()`.

`ITypeBinding` here refers to `or

[2016-03-28 17:35] liblit commented on #56
@denis-bogdanas, I am seeing the same problem with `ITypeBinding.getDeclaringMember()` under Eclipse Mars. I have reported this as a separate WALA issue: #98.

[2016-03-28 18:45] denis-bogdanas commented on #56
As workaround you can add an empty implementation of that method. The other methods in that class don't do much either.

[2016-04-03 20:35] #98 closed

[2016-04-03 20:35] msridhar commented on #98
Thanks for the report!

[2016-04-11 15:28] msridhar commented on #97
You need to grab dx.jar from the Android SDK and stick it in the com.ibm.wala.dalvik.test/lib folder; see [here](http://wala.sourceforge.net/wiki/index.php/UserGuide:Getting_Started#Building_the_code).  Unfortunately, we cannot easily automate downloading of this jar.

[2016-04-11 15:28] #97 closed

[2016-04-29 16:02] edwardmp opened #99 "Nullpointerexception in JDTJava2CAstTranslator"
Hello,

I'm trying to create a call graph but encounter a null pointer exception.
Depending on the java source I use as input the exception is thrown from different visitors, but it always involves "n.resolveMethodBinding()".

resolveMethodBinding returns null because it uses the class BindingResolver's implementation (line 194):
[code]

The exact same issue was described by someone else here: htt

[2016-04-29 19:19] msridhar commented on #99
I don't know this code, nor do I understand Eclipse's AST data structures.  @juliandolby any thoughts?

@edwardmp do you see the same stack as in https://sourceforge.net/p/wala/mailman/message/34746738/ ?

[2016-04-29 19:55] edwardmp commented on #99
The stack changes a bit depending on which program I try to analyze, but resolveMethodBinding is the method being called which causes the nullpointerexception, all in invarious visitor methods in that class.

Example trace:

[2016-04-29 19:56] edwardmp commented on #99
Other input program stack trace:

[2016-04-29 19:59] edwardmp commented on #99
By the way I use 1.3.9-SNAPSHOT versions of all WALA libraries, since I could not install some through maven (com.ibm.wala.cast.java and com.ibm.wala.ide.jdt)

[2016-05-01 16:37] edwardmp commented on #99
Related:
http://stackoverflow.com/questions/2017945/bindings-not-resolving-with-ast-processing-in-eclipse/5803778#5803778
http://stackoverflow.com/questions/2631981/why-does-resolvebinding-return-null-even-though-i-setresolvebindingstrue-on

[2016-05-01 20:15] edwardmp commented on #99
I think I know why the issue arises:
I have to add jars of all libraries to by calling addSystemModule of class JavaSourceAnalysisEngine.
I needed to add rt.jar when my source files used no external libraries, and if they did .jars with all external libraries.

[2016-05-01 21:01] msridhar commented on #99
Thanks for digging in! We still shouldn't crash for missing jars. We should add some catch blocks that log a warning.

[2016-05-02 07:45] edwardmp commented on #99
Yes I agree that a more helpful message would be convenient. Also, is there any way com.ibm.wala.cast.java and com.ibm.wala.ide.jdt could be made available in the maven repository?

Finally, if I add my source files through addSourceModule why doesn't the condition is this codeblock ever to false? Any clue?
[code]

[2016-05-02 12:15] edwardmp commented on #95
I think that page should be removed. I believe com.ibm.wala.eclipse is now  com.ibm.wala.ide. Look at the instructions here: http://wala.sourceforge.net/wiki/index.php/UserGuide:Getting_Started

[2016-05-03 16:09] edwardmp commented on #99
@msridhar ideally, in my case, I would like to continue building the dependency graph when a lib jar is missing, just behave as if that library would have been added to the exclusions file. Is this possible?

[2016-05-03 17:25] msridhar commented on #99
@edwardmp that's what I was suggesting above.  A hackish fix would be to add null checks and then just soldier on without the relevant method / field.  WALA is generally robust to missing classes, etc., it's just this frontend that is falling down.  I am very busy for the next few days, but I can try to take a look after that.  Or, if you could attempt to throw together a patch and make a pull req

[2016-05-09 12:41] edwardmp commented on #99
@msridhar OK. Regarding the availability in the Maven repository, I am trying to add the missing projects but I am not that experienced with Maven and the setup is a bit complex, will definitely dive deeper into this later.

In the meantime, I want to use WALA in a production environment at the company I do an internship at, but they refuse to let me use the current 1.3.9-SNAPSHOT. Is there any wa

[2016-05-09 13:12] msridhar commented on #99
I'm fine with cutting a new release.  Let me check with Julian.  --Manu

On Mon, May 9, 2016 at 9:41 PM Edward Poot <notifications@github.com> wrote:

[2016-05-10 14:03] msridhar commented on #99
I have tagged release 1.3.9 in the git repository (`R_1.3.9`).  Still working on pushing new jars to Maven Central, should be done in the next day or so.

[2016-05-10 14:04] edwardmp commented on #99
Great, thanks a lot.

[2016-05-18 17:28] edwardmp commented on #99
Hi @msridhar,

Did you have any opportunity yet to change how missing library jars are handled?
This would be a great case for the use of Optionals in Java 8, although personally I have no experience in using them.

[2016-05-18 17:32] msridhar commented on #99
Haven't had time to look at this yet, and not sure when I will. At the
least, anyone trying to fix will need a test case for reproducing the
error, along with instructions on how to reproduce.

On Wed, May 18, 2016, 10:28 AM Edward Poot <notifications@github.com> wrote:

[2016-05-18 17:34] edwardmp commented on #99
OK. I can certainly temporary fix it, although doing it in a proper way requires much knowhow of how the library operates. Tomorrow I will put some example code in a repository so it can be easily reproduced.

[2016-05-26 16:47] edwardmp commented on #99
Hi @msridhar

Finally had some time to provide an example displaying the issue.
This is the tiny system I want to create a callgraph for: https://github.com/edwardmp/wala-issue-example
This tiny example depends on the Netty library.

Now I want to only use the source files to generate the callpgrah, using the Eclipse Java frontend.

This is the code used to generate the callgraph:
https://github.c

[2016-05-30 07:56] edwardmp commented on #99
@msridhar is it OK if a open a pull request in which some null checks are added?

[2016-05-30 13:28] msridhar commented on #99
Sure, that would be greatly appreciated!  By the way, as you may have
noticed, I've done some refactoring on the master branch.  From now on, you
should be able to use the `wala.cast.java` and `wala.cast.java.ecj`
projects using Maven Central jars.  If you'd like to test it out, I can
create some snapshot jars; let me know.  If this is what you needed, we can
cut a new release for it.

--Manu

On

[2016-05-30 15:35] edwardmp commented on #99
@msridhar
That is very convenient, but what is more important is the problem mentioned above leading to a NPE.

I've been pulling my hear out the last few hours trying to run WALA on for example PMD, but this again leads to a null pointer exception. But in this case, the reason doesn't seem to be related to missing jars from dependencies.

Kind of frustrating as I really need to generate a call gr

[2016-05-30 15:39] msridhar commented on #99
@edwardmp do you really need to use the Java source front end?  All the problems here are in the source front end.  The Java bytecode front end is *much* more robust.

[2016-05-30 15:41] edwardmp commented on #99
@msridhar
Unfortunately, the company I conduct my research at only has certain clients' systems source code and (usually) not any binaries. I tried a few other call graph libraries before using WALA but those wouldn't work either.

[2016-05-30 16:29] msridhar commented on #99
Ok.  What makes you think this is not due to missing jars?  In any case, as a patch-up fix, my approach would be to add null checks around any relevant calls to `resolveBindings()`, and then "bail out" if the reset is null.  E.g., for the stack you just posted, we just wouldn't add the `FieldEntity` on the next line.  If you submit a PR that adds null checks of this form, I'll take a quick look at

[2016-05-30 16:32] edwardmp commented on #99
@msridhar
Well basically because I have checked that I have jars of all dependencies. Also, in the PMD case I deleted most source files and traced it to 1 specific file (that only had a dependency on a subdir).

OK I will try to add some null checks. With bailing out you mean just skipping the next line or returning from the method? Thanks for your cooperation! much appreciated

[2016-05-30 16:38] msridhar commented on #99
By bailing out I generally mean for whatever operation the binding is being used for (typically adding something to a class or class hierarchy), don't do that operation.  But if you're a little over-aggressive in bailing out, that's fine for now (better than crashing).

[2016-05-31 15:14] edwardmp commented on #99
@msridhar
spent the last few hours adding checks but this is not really a solution; sometimes you can skip a part of a method but other times you can only return null from that method in case the binding is null, which just propagates the NPE to another place.. Digging in to find the real reason the bindings are not set but no luck so far

[2016-05-31 17:48] edwardmp commented on #99
So far it boils down to this:
setRecoveryBindings must be set to true when the ASTParser is created.

I have a small test case where a ClassInstanceCreation can not resolve the constructor bindings while all other bindings are actually present.

Example statement: `new ArrayList<>()` does not have constructor bindings. Why is still the big question..

[2016-05-31 18:17] edwardmp commented on #99
@msridhar
Here is a more complete example:
[code]

[2016-05-31 18:58] msridhar commented on #99
Thanks for digging in! So is adding a call to setRecoveryBindings somewhere
sufficient to fix this?

On Tue, May 31, 2016, 11:17 AM Edward Poot <notifications@github.com> wrote:

[2016-05-31 19:01] edwardmp commented on #99
@msridhar

In the code I used to reproduce it at some point it had to setRecoveryBindings to true, but in the ultimate code I have changing it for this example does not have immediate impact.

So no, unfortunately that's not enough. In the example above there are cases where resolveConstructorBindings() still returns null while it should. Trying if I can add some null checks for that, but bailing

[2016-05-31 20:36] msridhar commented on #99
@edwardmp I'm really sorry this doesn't seem to be working out.  I am a bit unsure about the version numbering of JDT Core.  I thought we are pulling in the latest version, but I'm not sure.  Let me look into it.

[2016-05-31 20:50] edwardmp commented on #99
Thanks, of course I don't blame you or any other WALA maintainer. It's just annoying it eventually worked fine for a sample project but not any other it seems.

I've been reading up on alternatives for call graph generation. Seems you can use some JDT stuff for that, using the CallHierarchy. Its already in the WALA code somewhere: https://github.com/wala/WALA/blob/e87b2e5d843796246a856be65e7cb7b82

[2016-05-31 21:30] msridhar commented on #99
Yeah, so Eclipse has had this call hierarchy feature for finding callers of a method for a while.  I'm guessing you would have to be inside a running Eclipse instance to use this feature, i.e., it'll be hard to use just from the command line.  But I have no personal experience trying to programmatically invoke the call hierarchy.  ( @juliandolby wrote that Jsdt code; he might be able to chime in w

[2016-05-31 21:35] edwardmp commented on #99
@msridhar

Thanks. Kind of confused as if WALA actually uses the latest JDK core version? The artifact id is different than the one used though: https://github.com/eclipse/eclipse.jdt.core/blob/master/pom.xml

[2016-05-31 21:41] msridhar commented on #99
Yeah, it's a bit of a mess.  We have the Eclipse plugin build system which uses Tycho, and will bring in some version of JDT Core; I think that's Eclipse Luna, which is not the latest.  Then, I've been writing these `mvncentral.xml` files which try to make it easier to use WALA outside of Eclipse, and that's what is pulling in 3.10.  Is it possible maybe for you to plug in a more recent version an

[2016-05-31 21:45] edwardmp commented on #99
Yes thats my intention. It is not unthinkable that if its a bug, it may be fixed in newer versions.
Its actually hard to find a JAR with a newer release but I found `org.eclipse.jdt.core.source_3.11.2.v20160128-0629.jar` in https://www.eclipse.org/downloads/download.php?file=/eclipse/downloads/drops4/R-4.5.2-201602121500/org.eclipse.jdt-4.5.2.zip (under plugins folder) which seems to contain the n

[2016-05-31 23:18] msridhar commented on #99
Ok, let us know how it goes.

[2016-06-01 13:47] edwardmp commented on #99
@msridhar
OK using so org.eclipse.jdt.core_3.11.2 which is slight newer still leads to an exception, but it does progress a bit further. Furthermore the exception is not a NPE but `Assertions.UNREACHABLE("Couldn't find default ctor");`

I tried another call graph library which seemed to work, only to discover that it has issues with handling java 8 source code, so I'm pretty desperate for this to

[2016-06-01 14:22] edwardmp commented on #99
Nope unfortunately, in the end throws NPE at me again. I think I have to reconsider my research subject since every call graph library I tried had issues some way or another.

[2016-06-01 14:51] msridhar commented on #99
@edwardmp in cases where you have all the dependent libraries, could you just compile the source code?  Then you could avoid these JDT issues.

[2016-06-01 15:03] edwardmp commented on #99
@msridhar If I do it manually, I might be able for some systems but my employer generally does not necessarily have all (e.g. proprietary) dependencies. But the input for my system using WALA is supposed to be dynamic, e.g. when my employer obtains a new system it should just work without manually compiling it.

[2016-06-01 17:19] msridhar commented on #99
@edwardmp ok, unfortunately, I don't know of any system that can handle your needs out of the box, unfortunately.  Beyond the JDT issues we've been dealing with, you mentioned Java 8 source code above.  While JDT supports Java 8, I don't think the WALA source front end supports constructs like lambdas.  So that's another issue.

For right now, the best thing I can think of for using WALA would be

[2016-06-01 17:22] edwardmp commented on #99
@msridhar
Thanks, I'll try that as a last resort. Actually this library: https://github.com/Sable/soot does work with source code but only not Java 8 code.. "funny" enough.

Lambda's appeared to work in one small sample project.

[2016-06-02 10:21] edwardmp commented on #99
Well, didn't expect much but catching Null Pointer exceptions works in the short term (but get a lot of "unexpected problems" reported but eventually another exception is thrown.
Do note that all missing classes are excluded in the exclusions file.

50```
5. [SEVERE] class com.ibm.wala.classLoader.BytecodeClass$ClassNotFoundWarning : Lsun/misc/SignalHandler
506. [SEVERE] class com.ibm.wala.classLo

[2016-06-02 11:01] edwardmp commented on #99
For my case, I'm thinking about an alternative. I can use JDT to visit all MethodInvocations. Then I can find method calls to a specific library I'm interested in. Then I can use WALA to trace calls within this library (for those libraries I do have the jars so running on bytecode shouldn't pose problems).

[2016-06-02 16:44] edwardmp commented on #99
@msridhar I seems my solution works well. I don't really care about the source code other than that I want to find calls to a specific library. Using ASTParser I obtain those, then I run wala on the library jar.

Great. I do think however that some warnings should be put in place to warn people that the source translation is "experimental/buggy"

[2016-06-02 21:39] msridhar commented on #99
Ok, glad you figured something out. We should indeed add a warning in the
documentation. I'll leave this issue open until I do so.

On Thu, Jun 2, 2016, 9:44 AM Edward Poot <notifications@github.com> wrote:

[2016-06-03 10:01] sewe opened #100 "SecurityExceptions when analyzing JARs with broken/expired signatures"
AFAICT, WALA uses the single-argument constructors of `JarFile` and `JarInputStream` throughout. Unfortunately, this causes a `SecurityException` whenever WALA reads a JAR with broken or expired signatures. The latter is particularly annoying when the JAR was correctly signed but the certificate has since expired and no [signature timestamp](http://docs.oracle.com/javase/7/docs/technotes/guides/se

[2016-06-04 17:22] msridhar commented on #100
I agree about not doing signature verification. A pull request would be
welcome! Otherwise I'll look when I can.

On Fri, Jun 3, 2016, 3:01 AM Andreas Sewe <notifications@github.com> wrote:

[2016-06-06 11:30] edwardmp commented on #99
@msridhar
For one system I encountered the following exception:

[code]

I noticed this happens when you don't add any entrypoints. But since I check for that before I generate a call graph, in this case that's not the issue. Any idea?

[2016-06-06 21:03] msridhar commented on #99
@edwardmp no idea.  If it's unrelated to the JDT issue, best to discuss on the mailing list or a separate issue if it's a bug.

[2016-06-07 14:52] sewe commented on #100
I’ll prepare a pull request soon. We already have a patch that fixes this for our 1.3.4-ish fork of WALA, which hopefully will apply cleanly.

[2016-06-08 09:34] sewe commented on #100
Created the pull request (sorry about the noise with 21c5971f9da770339363ad440e5bc1fc50fcb839; its commit message still referred to our internal bug tracker) for commit e2e5bcf43567ad2871d15a22095d63d8f0e54164.

I went through all uses of `JarFile` and `JarInputStream` constructors and tried to figure out whether the JAR being opened is a JAR that is about to be analyzed (which was always the case

[2016-06-08 17:49] msridhar commented on #100
Fixed by e2e5bcf43567ad2871d15a22095d63d8f0e54164

[2016-06-08 17:49] #100 closed

[2016-07-25 11:15] edwardmp opened #104 "Call graph does not show methods called from entry points"
Hi,

I noticed an issue during call graph generation. I create an AnalysisOptions object and give it a set of entry points, which are specific methods I collected from iterating over the class hierarchy.

Then, after the callgraph is generated and I call `CallGraphStats.collectMethods`, I notice that all methods called from the entrypoint directly are not in this list. Of course, If I add those me

[2016-07-25 11:26] edwardmp commented on #104
Here's a small example:

[code]

If I add the connect method as an entrypoint, the call to `isOpen()` is not reported

[2016-07-29 17:22] msridhar commented on #104
This might be expected behavior, depending on the call graph algorithm you're using.  If you're using a CFA analysis or RTA, it will only find a callee for the `isOpen()` call if it sees some non-null object flowing into `m_Connection`; otherwise it won't find anything.  If you use something like a `CHACallGraph`, which is based purely on the class hierarchy, then you should see call targets at `i

[2016-11-07 14:06] mohrm opened #107 "Changes in JarFileModule lead to ill behaviour"
Commit 73747cbb86df0c2448a4fd264556752ef73b3558 changed the implementation of JarFileModule dramatically and introduced a subtle error.

* Before this commit, JarStreamModule took a JarInputStream and read the class files directly from there.
* Commit 73747cbb86df0c2448a4fd264556752ef73b3558 made JarStreamModule inherit from JarInputStream. The JarInputStream it takes is not stored as a field anym

[2016-11-07 15:06] msridhar commented on #107
This is a bad bug; we really need to be able to read a jar from within a jar.  @juliandolby can we just revert the changes to JarFileModule from 73747cb?

[2016-11-12 13:10] MaxSchlueter opened #108 "JavaScript Slicer Context Sensitivity"
As per Manu's request I file the question from the mailing list here as an issue: https://groups.google.com/forum/#!topic/wala-sourceforge-net/ZL5oO6j-vv0

Basically having a ContextInsensititve ContextSelector yields a context sensitive Backwards Slice.

[2016-12-05 22:45] MaxSchlueter opened #116 "JUnit Test Fails"
https://github.com/wala/WALA/blob/30bc2858c4008b042fbc0d77209e114c7767c038/com.ibm.wala.cast.js.rhino.test/harness-src/com/ibm/wala/cast/js/rhino/callgraph/fieldbased/test/FieldBasedCGGamesTest.java#L23

Website is down.

[2016-12-09 10:18] mohrm opened #123 "ShrikeCFG may be incomplete for unresolvable method calls"
Let's say I have the following code:

[code]

Furthermore, Bar is not in analysis scope, i.e. the call to the constructor of Bar cannot be resolved.

The IR of foo() looks like this:

[code]

Note that:
* BB5, one of the exception handlers, is unreachable.
* The phi in BB7 uses the SSA value number TOP.

After some inspection, I think that the problem lies in the computation of the ShrikeCFG (othe

[2016-12-09 17:56] #108 closed

[2016-12-09 19:04] msridhar commented on #123
@mohrm does one of your pull request patches fix this?

[2016-12-09 19:18] mohrm commented on #123
Yes, https://github.com/wala/WALA/pull/120 aims to fix this.

[2016-12-15 18:37] mohrm opened #125 "Fetching dexlib-1.3.4.jar does not work anymore"
While setting up WALA, the build script of com.ibm.wala.dalvik tries to obtain the file

https://apktool2.googlecode.com/archive/c1659e62c414c96882c49afa72032b504c921b5a.zip

which is an old version of apktool2. It then unpacks that zip file and extracts dexlib-1.3.4.jar.

The link is dead now. I tried to build versions 1.4.0 and 1.4.3 of baksmali (see https://github.com/JesusFreke/smali -- smali

[2016-12-17 17:14] SnehaNagaraj opened #126 "Is there a way to map slices to not just the source code line number but also retrieve the line itself from the source code?"

[2016-12-30 12:56] MaxSchlueter opened #127 "JavaScript Slicer throws UnsupportedOperationException in JavaScriptInvoke instruction"
Tried to compute paths in the SDG of file _com.ibm.wala.cast.js.test.data/examples-src/tests/array_index_conv2.js_. In the file functions are stored in an array and invoked in various ways. I found the constructed CG to be correct but the `JavaScriptInvoke.getUse` method throws an exception when computing a slice in the SDG.

Stacktrace:
[code]
Verbose console output:
https://gist.github.com/MaxSc

[2017-01-02 22:02] MaxSchlueter opened #128 "JavaScript for-in loop does not iterate over prototype"
I constructed the CG for the _for_in_prototype.js_ file in dir _com.ibm.wala.cast.js.test.data/examples-src/tests_. The CG contained en edge to the `also_reachable` function but not to the `reachable` function in the prototype.

[2017-01-02 22:41] msridhar opened #129 "Ant build fails for com.ibm.wala.dalvik"
If you rename `lib/dexlib-1.3.4.jar` in `com.ibm.wala.dalvik` to `lib/dexlib-1.34.jar.bak` and then try to run `ant`, you get the following error:

[code]

This breaks our Travis build.  It looks like this zip file is no longer present at `apktool2.googlecode.com`.  @juliandolby any idea how to fix?  This issue is fairly urgent I'd say.

[2017-01-02 22:43] msridhar commented on #129
FWIW, a `dexlib-1.4.0.jar` is available [here](https://dl.bintray.com/gost/smali/org/smali/dexlib/1.4.0/), and could be pulled in as a standard Maven dependency.  But I don't know if it meets our needs, and whether this is official hosting or not.

[2017-01-02 22:52] msridhar commented on #128
Which call graph building code are you using?  There is a regression test ensuring that `reachable` is in the call graph for the pointer-analysis-based call graph builder (see [here](https://github.com/wala/WALA/blob/master/com.ibm.wala.cast.js.test/harness-src/com/ibm/wala/cast/js/test/TestSimpleCallGraphShape.java#L608)).

[2017-01-02 23:25] MaxSchlueter commented on #128
The regression test also passes in my case. The problem is that the test checks if functions with a certain suffix are present in the CG: reachable is also a suffix for also_reachable; the test finds the same CGNode for these suffixes.

[2017-01-02 23:37] #127 closed

[2017-01-03 00:01] msridhar commented on #129
Here is a [failing Travis build](https://travis-ci.org/wala/WALA/builds/188393612)

[2017-01-03 00:02] msridhar commented on #128
Yikes!  @juliandolby we are supposed to handle `for-in` and prototype chains correctly, right?

[2017-01-03 00:03] msridhar commented on #129
Closing as duplicate of #125 sorry

[2017-01-03 00:03] #129 closed

[2017-01-03 00:13] msridhar commented on #125
@mohrm I tried cherry-picking your commit to update the `build.xml` but got a whole bunch of compile errors.  I guess there are other changes in `com.ibm.wala.dalvik` that have not yet been merged that are required to use this other jar?

[2017-01-03 17:31] mohrm commented on #125
@msridhar In https://github.com/joana-team/WALA/commit/f9f663821b7e9f8410788829065562451f09e1bc I used the wrong location - the ant script then did not fetch the actual jar file, but a webpage referring to it.
I fixed that in https://github.com/joana-team/WALA/commit/fcb9c57e40cf576e9992d237058059fe9ea87ad0 but did not update this issue - sorry for that!

[2017-01-03 18:41] mohrm commented on #125
We leave this issue open until we have a proper solution.

[2017-01-12 15:20] khatchad commented on #95
@edwardmp What about those instructions should we look at? I think it just points to the outdated instructions, no?

[2017-01-12 17:10] khatchad opened #131 "Exception when making a ClassHierarchy from an Eclipse project"
I am trying to create a `ClassHierarchy` from an `IJavaProject` within an Eclipse plugin. However, I am receiving an `IllegalArgumentException` when doing so.

Here's a snippet of my code:
[code]
Here's the exception I get:
[code]

I know that the class loading model differs for Eclipse projects. Is there something I need to do prior to creating the `ClassHierarchy`?

[2017-01-12 23:25] khatchad commented on #131
I think the problem may have something to do with *how* I am running the code. If I run the plugin in a user environment (i.e., in a normal Eclipse instance), I do not get the exception. However, I originally ran this code as an Eclipse Plug-in Test, in which case the error does occur.

Diving further into this, this is what my `EclipseProjectPath` looks like (as show by `toString()`, note that I

[2017-01-13 06:29] edwardmp commented on #95
@khatchad , this was a while ago but I remember to just go to the root of the project and execute 'mvn clean verify -DskipTests=true -q' to build it!

[2017-01-13 15:11] msridhar commented on #95
@edwardmp is right that the project has been renamed and to follow the instructions on the Getting Started page.  I'm not sure about the launcher stuff; will have to look into it.

[2017-01-13 17:10] khatchad commented on #95
Thanks @edwardmp and @msridhar. I understand now, to follow the Getting Started page except for the section on the Eclipse plugin. Thanks!

[2017-01-23 23:21] khatchad commented on #131
Looks like part of the problem may be that `com.ibm.wala.ide.util.EclipseProjectPath.isPrimordialJarFile(JarFile)` is really not being used. Indeed, `rtstubs18.jar` should cause this method to return true, but it currently always returns true. Moreover, when it return true, `com.ibm.wala.ide.util.EclipseProjectPath.resolveLibraryPathEntry(ILoader, IPath)` will add the jar to the *given* loader ins

[2017-01-23 23:26] msridhar commented on #131
@juliandolby any ideas here?  I am not super familiar with this code.

[2017-01-24 11:37] mohrm opened #132 "unclear whether WALA supports Java 8"
@msridhar @juliandolby I am a bit confused about whether WALA supports Java 8 or not. The pom.xml does not specify source or target language in the maven-compiler-plugin, so I guess maven just uses "what is there". The .travis.yml first specifies that oraclejdk8 is needed but then, before the maven jars are built, the jdk is switched to Java 7.

In the various WALA eclipse projects, Java version v

[2017-01-24 15:14] msridhar commented on #132
I have no objection to using Java 8 code in WALA at this point.  The only thing that might be holding us back are requirements from IBM products.  I'm also fine with cutting a final Java 7 release and then changing master to use Java 8 with some kind of major version bump.  @juliandolby any thoughts?

[2017-01-26 10:32] mohrm opened #133 "using HashCodeComparator in class loading may and does cause instabilities"
In `ClassLoaderImpl`, the method `getClassFiles` is responsible for retrieving all the module entries from a module and returning them as a set. For this, first the iterator is converted into a list and then this list is inserted into a TreeSet, using a comparator which compares two module entries by hash code (!).
I think this is highly fragile. The [Java API doc](https://docs.oracle.com/javase/8

[2017-01-26 13:53] juliandolby commented on #133
Martin,

 This seems like an important issue; thanks for finding it.  I think making sure equals, hahsCode and compareTo are all consistent is good to do anyway, so that seems like the right fix to me.

  — Julian

[2017-01-26 14:01] mohrm commented on #88
I also executed the example code above and still get variations, when just using the proposed fixes. However, on the current https://github.com/joana-team/WALA master branch, there are no variations anymore. So, pull request #134 only solves part of #88.

[2017-01-26 14:02] mohrm commented on #133
@juliandolby What do you think about getting rid of HashCodeComparator, as proposed in #134? This not only seems more robust to me but also simpler and faster.

[2017-01-26 14:03] juliandolby commented on #133
That seems like a good idea too.

[2017-01-26 14:03] juliandolby commented on #132
@msridhar @ Inside IBM, I think Java 8 may be ok; however, there is still a need to run WALA using IKVM on .NET, and I have not yet tested the claims of the latest IKVM release to handle Java 8 features.

 Another issue is that I am unsure to what extent recent Android releases support Java 8, and I would like to keep the ability to compile WALA for Android.  One possible rule would be that we can

[2017-01-26 14:43] mohrm commented on #88
Ah, forgot to add hashCode() and equals() for DexModuleEntry. Now it works, always outputs 675.

[2017-01-26 16:17] msridhar commented on #133
Fixed by #134

[2017-01-26 16:17] #133 closed

[2017-01-26 16:17] msridhar commented on #88
Fixed by #134

[2017-01-26 16:17] #88 closed

[2017-02-02 13:25] MaxSchlueter opened #135 "JavaScript Slicer throws IllegalArgumentException"
Computing slices in the file _com.ibm.wala.cast.js.test.data/examples-src/tests/function_apply.js_ throws an exception. Constructing the CG of the file is not a problem though. Let me know of you need any additional information to resolve this problem.

Stacktrace:
[code]

[2017-02-03 20:53] jgaltidor commented on #104
I have a related question to the issue above.  I noticed in the implementation of class `CHACallGraph`, that all nodes in a `CHACallGraph` are instances of type `CHACallGraph.CHANode`.  Method `CHACallGraph .CHANode.getIR()` always returns `null` and executes an assertion failure statement `assert false`.  I was calling a method edu.kit.joana.wala.core.CallGraph.run() that tries to iterate through

[2017-02-23 22:41] khatchad opened #137 "java.lang.Error: unexpected dynamic invoke type 8"
I am receiving an `java.lang.Error: unexpected dynamic invoke type 8` error when building a call graph of the following program:

[code]
I am on 137fed6e625ca69218a4277aa0171eee94f91cf8.

Error details:
[code]

[2017-02-23 22:47] khatchad commented on #132
I believe that the title of this bug is a bit misleading. When you say "supports," do you mean that WALA *analyzes* Java 8 code?

[2017-02-23 23:30] juliandolby commented on #132
Yes, it does analyze Java 8 byte code.  It also runs on Java 8.

  — Julian

[2017-02-24 15:21] khatchad commented on #132
Thanks, @juliandolby. The reason I was wondering was due to an error I encountered yesterday. I filled #137.

[2017-02-25 00:29] juliandolby commented on #132
I just looked into that.  While I did implement invokeDynamic support, it seems that I neglected 1 of the 5 cases in one place, perhaps because I had not seen it in Java 7.

I can see how to implement the desired semantics and will get to it in the next few days.

 — Julian

[2017-02-25 03:53] juliandolby commented on #132
OK, I believe I just checked in a fix for this issue.

[2017-02-25 12:40] juliandolby commented on #137
While I did implement invokeDynamic support, it seems that I neglected 1 of the 5 cases in one place, perhaps because I had not seen it in Java 7.  I believe I have checked in a fix, along with a new test that uses the feature that generates dynamic invoke type 8.

[2017-02-26 20:40] juliandolby commented on #137
I believe I have fixed this.  I have checked in a test that creates a dynamic invoke type 8, and ensures we can build a call graph for it.

[2017-02-26 20:40] #137 closed

[2017-02-27 15:39] caoyan66 opened #138 "Trouble with wala.properties settings."
Hi,

Sorry for not understanding the wala.properties settings.

I have been trying WALA in both maven and ``non-maven'' way.

1. Using Wala via Maven
I got the error message as below,
![image](https://cloud.githubusercontent.com/assets/6722880/23367505/7830fe4a-fcd8-11e6-8dd5-5b47732f54ec.png)

I had read the user guide, in which it states that

[code]

Sorry for my stupidity, I am not sure how to

[2017-02-27 17:20] msridhar commented on #138
@caoyan66 sorry about this.  The Maven issue is a bug for sure.  We will try to cut a new release ASAP.  In the meantime, if you pull in the 1.3.10-SNAPSHOT version of WALA instead of 1.3.9 from Maven, I think at least the Maven way should work.  Can you try that?

[2017-02-28 20:31] caoyan66 commented on #138
Hi,

Yes, I was able to pull in the 1.3.10-SNAPSHOT version of WALA, and my issues is resolved. thanks!

[2017-03-13 18:57] khatchad commented on #137
Looks like the fix is in up to 017a715cd5094b15badb09df6efe62c43c022133.

[2017-03-13 20:14] khatchad commented on #137
Both 7b393a7da25b3718994a616bb063b9f2665a66e9 and 017a715cd5094b15badb09df6efe62c43c022133 seem to be the complete change set for this issue.

[2017-03-13 20:18] juliandolby commented on #137
Indeed, this should have been fixed.  Look at LambdaTest.testStreamExample_137, which analyzes byte code containing that invoke type.

[2017-03-13 20:19] khatchad commented on #137
Thanks, @juliandolby. My own test is failing when I integrate this change but I want to localize it and ensure that this change set is the cause and not other changes that were introduced since the last time I pulled from origin/master.

[2017-03-13 21:12] khatchad commented on #137
OK, the example I gave above seems to work fine now. However, there is another example that was giving me the same error. With the fix (and using this new example), I am now receiving a different error.

Here's the new example:
[code]
And the error I am receiving:
[code]
I am at bb0f38338e00a9ffb37b711a08db10ea8a4dc332.

[2017-03-13 22:17] khatchad opened #144 "Implicit parameter error involving Collector"
I am receiving an error when building a call graph of the following program:

[code]
I am at bb0f38338e00a9ffb37b711a08db10ea8a4dc332 and using JDK version 1.8.0_121.

Error details:
[code]

[2017-03-13 22:18] khatchad commented on #137
I filed https://github.com/wala/WALA/issues/144 since it seems to be a different issue, i.e., the issue originally report looks fixed (but perhaps was masking this new one).

[2017-03-14 14:17] juliandolby commented on #144
Thanks for finding this bug.  I was able to reproduce this crash on my system, and I have pushed a fix that seems to work for me.  Let me know if it works for you too.

[2017-03-14 21:36] khatchad commented on #144
No problem. With only `sorted()` it seems to work fine, so no regression there.

[2017-03-14 21:44] khatchad commented on #144
However, when I add the `collect()` operation, I am in a seemingly endless loop. I'm investigating it further.

[2017-03-14 21:45] khatchad commented on #144
Looks like the fix is in https://github.com/wala/WALA/commit/7e3066b6cda07ea6e977495b82cb0d2a202bb0c2.

[2017-03-14 21:48] juliandolby commented on #144
does that mean that the code in issue 144 works for you?

[2017-03-14 21:50] khatchad commented on #144
I don't think so because I'm in a loop with the fix. I'm trying to localize where it's happening.

[2017-03-14 21:52] khatchad commented on #144
Looks like I'm stuck in the call graph construction ...

[2017-03-14 21:54] juliandolby commented on #144
how are you running this?  it builds a call graph fine for me, based on the code you sent.

[2017-03-14 22:02] khatchad commented on #144
It's getting stuck on the call to `solver.solve(monitor);` in `com.ibm.wala.ipa.callgraph.propagation.PropagationCallGraphBuilder.makeCallGraph(AnalysisOptions, IProgressMonitor)`. Let's see if I can get a stack trace.

[2017-03-14 22:05] juliandolby commented on #144
perhaps you have a very large program?

[2017-03-14 22:07] khatchad commented on #144
[code]

[2017-03-14 22:07] khatchad commented on #144
I am using the same program above. I do have some local changes to adhere to some recent refactorings. Let me see if that is affecting it somehow.

[2017-03-14 22:10] juliandolby commented on #144
the nCFABuilder is not something we use much.  It could be that a large ’n’ plus library code is creating a huge graph…

[2017-03-14 22:11] khatchad commented on #144
I believe I have set 'n' to 2. Yes, that is possible but I wonder what it is about the `collect()` call that would do that.

[2017-03-14 22:16] juliandolby commented on #144
Perhaps there is some case with invokeDynamic combining with recursion that the nCFABuilder does not handle…  for sanity, can you check that my test works for you if you try to run it?

[2017-03-14 22:18] khatchad commented on #144
Sure, I'll give it a shot.

[2017-03-14 22:21] khatchad commented on #144
Running `mvn clean install` now.

[2017-03-14 23:08] khatchad commented on #144
OK here are my test results:
[code]

I only have the Java stuff installed. Those seem to be passing. I am at 7e3066b6cda07ea6e977495b82cb0d2a202bb0c2 with the following local changes:

[code]

[2017-03-15 17:03] khatchad commented on #144
@juliandolby https://github.com/wala/WALA/issues/144#issuecomment-286590137 should include your test, correct?

[2017-03-15 17:05] juliandolby commented on #144
it does, yes.  in LambdaTest, there is testBug144.

[2017-03-15 18:21] yang-guangliang opened #147 "how to compile wala in ubuntu 14.04?"
closed

[2017-03-16 16:43] #147 closed

[2017-03-22 15:08] mamarsh opened #151 ""type mismatch" in com.ibm.wala.escape.FILiveObjectAnalysis"
We've been using a fork of WALA, and with the new release I was hoping to move us back to the mainline.  I'm getting an error when compiling, though:

[code]

It might be worth checking all of the changes from commit fde65340d22f153914343a33bbaf6f5497ce67f4 (where this was introduced) for similar issues.

[2017-03-22 15:47] msridhar commented on #151
@liblit can you take a look?

[2017-03-22 15:48] msridhar commented on #151
@mamarsh do you have a pure Java example to reproduce?

[2017-03-22 15:49] mamarsh commented on #151
@msridhar I don't, unfortunately.  I can try to put one together, but I'm not sure how long that'll take me.

[2017-03-22 15:49] msridhar commented on #151
@mamarsh ok, if you have time to actually explain the problem here, that'd be helpful 😄 I'm not an expert in Scala compile warnings.

[2017-03-22 17:11] liblit commented on #151
@mamarsh, thank you for tracking this down to a specific commit, which turns out to have come from me. I am sorry for the disruption those changes are causing you.

Like @msridhar, I am no Scala expert. Doing my best to decode the error message and infer what might be happening, here is what I see. Scala is finding a value (in your code) whose static type is what Java would call `HeapGraph<? super

[2017-03-22 18:00] mamarsh commented on #151
@liblit Yes, what you've written makes sense.  I changed the Scala code to specify `HeapGraph<InstanceKey>` instead of `HeapGraph<?>` (the Scala is a little different), which then compiles.  I don't know if everything works with that, because we're using Illinois's wala-facade, which still has `ClassHierarchy.make()`, so our testing fails.

I've also put together a Java test that I think highlight

[2017-03-22 19:02] liblit commented on #151
@mamarsh, thanks for trying that out.

@msridhar, there are two ways we could proceed from here. I checked what it would take to relax the `FILiveObjectAnalysis` constructor to accept any `HeapGraph<? super InstanceKey>` instead of insisting only on `HeapGraph<InstanceKey>`. This turns out to be an easy, small change. We just need to change that argument type and also the type of the corresponding

[2017-03-22 19:19] msridhar commented on #151
I think a more systematic sweep is unwarranted.  I'd rather have users come and complain about some over-constraint that is actually affecting their code, rather than spending the significant time required to preemptively fix every possible over-constraint.  Users can stay on the old version of WALA if they really need to.

So if you could just do the local change to address @mamarsh's problem, I

[2017-03-22 20:32] msridhar commented on #151
@mamarsh I just merged @liblit's fix.  Can you confirm it fixes your problem?

[2017-03-22 21:03] mamarsh commented on #151
It still fails with that change, however, the following makes it work:

[code]

[2017-03-22 21:21] liblit commented on #151
Oops, I had a brain-glitch and inverted `super` versus `extends`. Sorry!

The revised pull request should get this right. (Though @msridhar may want to wait for the Travis results just to be sure.)

[2017-03-22 21:23] mamarsh commented on #151
No worries. I appreciate the incredibly fast turn-around!

On Mar 22, 2017 5:21 PM, "Ben Liblit" <notifications@github.com> wrote:

Oops, I had a brain-glitch and inverted super versus extends. Sorry!

The revised pull request should get this right. (Though @msridhar
<https://github.com/msridhar> may want to wait for the Travis results just
to be sure.)

—
You are receiving this because you were m

[2017-03-22 22:37] khatchad commented on #144
Looks like I am experiencing this problem also when I call `distinct()`.

[2017-03-23 01:18] msridhar commented on #151
Ok, #153 is now merged.  @mamarsh can you try again? 😄

[2017-03-23 12:46] mamarsh commented on #151
:thumbsup: :smile: Thanks!

[2017-03-23 18:04] msridhar commented on #151
Cool.  @mamarsh let me know if it'd be helpful for us to cut a new release now that this is fixed; I'm open to it.

[2017-03-23 18:04] #151 closed

[2017-03-23 18:12] mamarsh commented on #151
That would be helpful -- thanks.

[2017-03-24 03:49] msridhar commented on #138
This is fixed if you use the 1.4.0 release, which is now on Maven Central.

[2017-03-24 03:49] #138 closed

[2017-03-24 03:51] msridhar commented on #123
I assume this is fixed now

[2017-03-24 03:51] #123 closed

[2017-03-24 03:52] msridhar commented on #107
I assume this was fixed by #120

[2017-03-24 03:52] #107 closed

[2017-03-25 20:29] msridhar commented on #132
Closing this issue; the resolution is that due to IKVM / Android, we can't use Java 8 constructs in WALA yet.  Android may be less of a problem soon: https://android-developers.googleblog.com/2017/03/future-of-java-8-language-feature.html Not sure about IKVM.

[2017-03-25 20:29] #132 closed

[2017-03-25 20:30] msridhar opened #159 "Update pom.xml files to specify source and target level 7"
See #132.  We should update our pom.xml files to actually enforce the Java 7 requirement; otherwise it seems some Java 8 code might sneak into the repo and might be missed by our CI builds.

[2017-03-27 04:19] msridhar commented on #125
FYI, in finding a way to get the Dalvik frontend onto Maven Central, I created a maven repo to host the current dexlib jar.  It's used in the [WALA-start build.gradle](https://github.com/wala/WALA-start/blob/master/build.gradle#L16).  But I don't want to upload that one-off jar to Maven Central.  Probably the right fix here is to port to dexlib 2.

[2017-03-27 16:39] khatchad commented on #132
@msridhar There's also the [Jack Compiler](https://developer.android.com/guide/platform/j8-jack.html) for Android.

[2017-03-27 18:08] msridhar commented on #132
Jack is dying; see [the post](https://android-developers.googleblog.com/2017/03/future-of-java-8-language-feature.html) I linked above.

[2017-03-27 18:14] khatchad commented on #132
Ah! Thanks @msridhar.

[2017-04-13 23:22] msridhar opened #164 "equals/hashCode in com.ibm.wala.types.annotations.Annotation is broken"
They should account for the `namedArguments` field.

[2017-04-13 23:49] msridhar opened #165 "slicer is missing statements for random number example"
apparently we miss statements when doing a backward slice from the print in this example, with `NO_EXCEPTIONAL_EDGES` enabled:
[code]
We should investigate.

[2017-04-14 00:05] msridhar commented on #94
@denis-bogdanas sorry for being so slow on this.  Do you have time to clone the latest WALA from git and let me know exactly what steps are needed to get things building on Windows?  Also we should delete any Mac-specific lines from the Manifest files.

[2017-04-14 04:55] msridhar commented on #94
I think this is fixed now, by 52c7a4b649e7ffe65916414802172ee06869a5b1

[2017-04-14 04:55] #94 closed

[2017-04-14 15:01] khatchad commented on #144
@juliandolby Are there any hints as to where I should be looking to possibly fix this? Is there a (working) implementation in another builder that I could possibly compare with?

[2017-04-14 16:35] msridhar commented on #144
@khatchad what would really help is a reproducible test case against WALA master along with a driver.  that way @juliandolby or I could reproduce.  if this is a distinct problem from the original issue, maybe we can close and open a new one?

[2017-04-14 17:13] khatchad commented on #144
Thanks, @msridhar. I'll get to work on that. It does seem to be a different issue perhaps specifically involving nCFA.

[2017-04-14 17:15] khatchad commented on #131
Please let me know if you need more information here as well for this issue.

[2017-04-16 20:51] dwtj opened #166 "Compile Failure on Fresh Clone of R_1.4.1"
[code]

But it looks like one can work-around this particular compile failure by manually compiling/installing two of the subprojects first. (Not 100% sure, since the tests are still running.)

[code]

[2017-04-16 20:52] msridhar commented on #166
Is this fixed on master by any chance?

On Sun, Apr 16, 2017, 1:51 PM David Johnston <notifications@github.com>
wrote:

[2017-04-16 20:54] dwtj commented on #166
Trying now... (Is there an an option to compile everything without running any tests?)

[2017-04-16 20:58] dwtj commented on #166
Yes, this appears to also be a problem on the latest of [master], commit 5ecbba95.

[code]

[2017-04-16 21:11] dwtj commented on #166
Those tests finally finished... with an error, unfortunately. It looks like all 20 tests of `TestSimplePageCallGraphShapeRhinoNu>TestSimplePageCallGraphShape` fail because my system doesn't have the class `nu.validator.htmlparser.sax.HtmlParser`. See attached for the error log. This was collected with R_1.4.1.

[WALA 2d05189 Issue 166 Test Error Log.txt](https://github.com/wala/WALA/files/924565/W

[2017-04-16 21:28] dwtj commented on #166
I added the following dependency to `com.ibm.wala.cast.js.html.nu_validator/pom.xml`

[code]

However, this leads to a compile error that I don't initially understand:

[code]

[2017-04-16 21:32] msridhar commented on #166
I wonder if this is an issue with the Maven commands you are running.  We use Tycho for integrating our Eclipse build files, and it does weird stuff under the hood that I don't fully understand.  For compiling, we usually run:

    mvn clean verify -DskipTests=true -q

And then to run tests, we do:

    mvn clean verify -q

Somehow just running the latter command doesn't seem to be sufficient to m

[2017-04-16 21:33] msridhar commented on #166
Also, if you're not hacking the guts of WALA, consider pulling the jars from Maven Central; see [here](https://github.com/wala/WALA/wiki/Getting-Started#quick-start-using-maven-central-packages).

[2017-04-16 21:49] dwtj commented on #166
Oh, I didn't realize that you had a CI. (I always forget the trick to check there when struggling to build something.)

Yeah, the projects I'm trying to make are going to be built with Gradle to depend upon WALA via Maven Central. I'm trying to use the latest release of WALA's core for some basic Java program analysis.

I just want to be able to browse the whole source tree in my IDE (IntelliJ IDE

[2017-04-16 22:01] dwtj commented on #166
Ok, I've got my code browsing environment set up now, and it seems to be working. Thanks for your prompt feedback!

[2017-04-16 22:04] msridhar commented on #166
Cool, glad it's working!

[2017-04-16 22:04] #166 closed

[2017-04-17 01:25] #164 closed

[2017-04-17 03:39] msridhar commented on #165
Can't reproduce.  For this example:
[code]

Here are some of the lines from the backward slice from `doNothing(j)`:

[code]

These are all the statements I would expect to see.

[2017-04-17 03:39] #165 closed

[2017-04-17 22:03] msridhar opened #167 "get regression tests passing on Windows / appveyor"
I got WALA set up with [AppVeyor](https://ci.appveyor.com/project/msridhar/wala) so now we can run the regression suite on a Windows machine.  Unfortunately some tests are failing and it's hard to diagnose the problem without a Windows box.  We should find some help to get these tests fixed, and then AppVeyor can help us keep things working.

[2017-04-17 22:05] msridhar opened #168 "Fix Java7CallGraphTest on Windows"
On [AppVeyor](https://ci.appveyor.com/project/msridhar/wala/build/1.0.6) the `testOcamlHelloHash` test fails with:
[code]

Hard to tell what is going on.

[2017-04-17 23:26] khatchad opened #169 "Long running time involving Collector and nCFABuilder when N=2"
I am experiencing a (seemingly) infinite loop when processing the following program and using a nCFABuilder with n = 2:

[code]

The file may also be found on [my fork](https://github.com/khatchad/WALA/blob/master/StreamTest.java). Also on my fork, I have modified `PDFCallGraph.java` example driver to expose the issue. To reproduce the issue, please follow the following steps:

1. Clone [my fork](

[2017-04-17 23:27] khatchad commented on #144
Filed #169. Closing this issue as it seems to be fixed.

[2017-04-17 23:27] #144 closed

[2017-04-18 17:05] sarahscheffler opened #170 "Can't get examples to compile"
Hi there, originally my goal was to use WALA for static analysis of some JavaScript.  Now my goal is to get any of the examples to compile.  I'm in the JLex example.  I've done a fair amount of Java in the past, but never in Eclipse.  (By the way, a lot of the intro is very confusing, especially to someone unfamiliar with Eclipse.  But here we go.)

Originally, when I ran it using the SWTTypeHiera

[2017-04-18 18:09] khatchad commented on #170
The `JLex.jar` file should be at the root of your workspace directory.

[2017-04-18 18:18] sarahscheffler commented on #170
It is there, I have my workspace set as my project root.  (I have no idea if that is a good idea or not.)  The same folder that contains all the com.ibm.wala.core, com.ibm.wala.core.testdata, etc. also contains the JLex.jar file, and is the root of my workspace directory.

(Though I don't believe this is where the SWTTypeHierarchy launcher actually looks for the jar.)

[2017-04-18 19:03] khatchad commented on #170
@sarahscheffler As far as I understand it, you should not have the workspace as the same directory as your project in Eclipse. A workspace should have (possibly) multiple projects, each in their own directory within the workspace directory.

For example, my workspace directory is `$HOME/Workspaces/MyWorkspace` and I have WALA in `$HOME/Workspaces/MyWorkspace/WALA`. Moreover, I have the `JLex.jar`

[2017-04-19 00:04] ivanpostolski opened #171 "NPE when building ControlDependencyGraph at a method which unique return statement is a throw exception"
This issue can be reproduced with the following code snippet as code input

    public static void main(String[] args) {
        int x = Integer.parseInt(args[0]);
        for (int h = 0; h < 10; h++) {
            x = exceptionmethod(x);
        }
        System.out.println(x);
    }

    public static int exceptionmethod(int x) {
        throw new RuntimeException("wala rocks!");
    }

And tryi

[2017-04-19 00:06] ivanpostolski commented on #171
And this is the exception stack trace, to get a sense of what is going on at runtime

Exception in thread "main" java.lang.NullPointerException
	at com.ibm.wala.util.graph.dominators.DominanceFrontiers.getDominanceFrontier(DominanceFrontiers.java:50)
	at com.ibm.wala.cfg.cdg.ControlDependenceGraph.buildControlDependence(ControlDependenceGraph.java:77)
	at com.ibm.wala.cfg.cdg.ControlDependenceGrap

[2017-04-19 03:09] msridhar commented on #171
Nice one!  I will take a look.

[2017-04-19 03:52] msridhar commented on #170
@sarahscheffler My apologies for the confusing and outdated instructions.  I've updated the Getting Started document [here](https://github.com/wala/WALA/wiki/Getting-Started#running-wala-example-programs).  Basically, all you need to do is run the appropriate `mvn` or `ant` command and `JLex.jar` should be in the right place.  Can you give it a try?

[2017-04-19 04:05] msridhar commented on #170
Regarding JS call graphs, there is some documentation here:

http://wala.sourceforge.net/wiki/index.php/Getting_Started:JavaScript_frontend

Start at the Building Call Graphs part.  I'm actively working on making this easier by adding an example to [WALA-start](https://github.com/wala/WALA-start).

[2017-04-20 02:55] msridhar commented on #170
@sarahscheffler Ok, did an update.  Now you can build JS call graphs by doing the following (assuming you have Gradle and python installed):
[code]

That should be easier 😄 I still recommend reading [the docs](http://wala.sourceforge.net/wiki/index.php/Getting_Started:JavaScript_frontend) to understand the call graph format.  Let us know if there are other questions.

[2017-04-20 02:55] #170 closed

[2017-04-21 16:12] khatchad commented on #144
@msridhar Thank you again for your help with this issue. Does the information in #169 suffice for what you are looking for? I figured that you can always switch the remote `origin master` to point at the main WALA repository if you need an update. If not, please let me know and I will give it to you in some other form. Thanks, and have a great weekend!

[2017-04-21 16:17] msridhar commented on #169
@juliandolby can you take a look?  You know more about the Java 8 support than I do, and this involves Java 8 classes.

[2017-04-21 16:17] msridhar commented on #144
@khatchad I've commented on #169

[2017-05-18 00:53] Nugatp commented on #125
Hey Guys, I am sure this might not be the best place to post, but I got a questions.
Somehow I did the Hotfix for this problem with Dexlib fix #130 but I get a lot of compiling errors most because import org.jf cannot be resolved.. this is from dexlib right? I don't get it..
Thanks for helping!

[2017-05-18 03:48] msridhar commented on #125
@Nugatp are you on your own branch?  I know master compiles fine, so you might need to adjust more than you did.

[2017-05-18 09:00] mohrm commented on #125
@Nugatp did you apply #130 completely? In e78e71fe712b4b55e3e8776128fffeb64a378463, I initially had placed the wrong link in the respective build.xml, so that it did not load the jar but a webpage which says where you can get the jar. I fixed this in fcb9c57e40cf576e9992d237058059fe9ea87ad0.

[2017-05-18 09:58] Nugatp commented on #125
@msridhar @mohrm Hi, thanks for that quick reply. So I have checkout R_1.3.8 (also tried R_1.3.7).
I can also try master, when I get home from work later. I can also see the jar file in the Lib folder, but somehow it is not applying?

[2017-05-22 02:46] jw18362961997 opened #183 "I want to create pdgs of every method that actually in the jar file that i am analyzing, but the cgnode i generate was not actually exist in the jar"
Hello, every one. I'm a new user of WALA .
I want to create pdgs of every method that actually in the jar file that I am analyzing.
Firstly , I could find the class and method that actually in the project by creating the ClassHierarchy. Then I try to generate pdgs of each method , but I get a large number of WALA IR statements. Most of these statements correspond to java system library methods and

[2017-06-01 07:58] intersimone999 opened #185 "StackMapTable problem when instrumenting MySQL drivers"
Hello.

I'm using Shrike to instrument bytecode. Specifically, I need to add some instructions before return statements. For example (in Java):
`return x;`
would become something like:
[code]
where `newvar` in Bytecode has, as index, the maximum local variable index used in the method + 1. For example, if the method uses 5 local variables (from 0 to 4), i use 5 to indicate "newvar".

This seems to

[2017-06-06 17:01] msridhar commented on #185
@intersimone999 any way you can provide an input class and example Shrike code such that running the code leads to a bad output?

[2017-06-12 18:29] khatchad opened #188 "ModRef analysis erroneously indicates lambda expression writes to heap location"
## Description
I am running a ModRef analysis on a lambda expression. The lambda expression contains a reference to a collection but does not write to it. Nevertheless, the ModRef analysis indicates that a heap location is being modified.

## Regression
Removing the collection reference from the lambda expression does not indicate a heap modification, which is correct.

## Details
This is the lamb

[2017-06-12 19:20] juliandolby commented on #188
Do you have access to the source code of the size() method?  I want to make sure that that method does not do something bad like cache the size in a field.

	— Julian

[2017-06-12 19:24] khatchad commented on #188
@juliandolby, yes:
[code]
It doesn't look like it's doing any kind of caching.

[2017-06-13 08:50] intersimone999 commented on #185
@msridhar I attach all the material you need to replicate the error. This is the procedure I follow:

1. I run the JUnit test case "com.ibm.wala.shrikeBT.TestStackMap.testStackMap()" and I get a "instrumented.jar" output file.

2. I compile the example main class:
`javac main.java`

3. I run the main class with the instrumented jar with the command:
`java -cp instrumented.jar:. main`

The output I

[2017-06-16 20:48] khatchad opened #189 "Add interprocedural type inference feature"
## Introduction
WALA has a nice package, namely, `com.ibm.wala.analysis.typeInference`, for doing intraprocedural type inference over the SSA form. However, the package does not include classes that perform interprocedural type inference. This is a feature request to extend the existing analysis for interprocedural type inference.

## Details
Below is a conversation thread that took place on the W

[2017-07-07 19:18] liblit opened #198 "Eclipse Maven lifecycle mapping errors"
When I have a fresh checkout of the WALA projects in Eclipse, I often see two build errors in the Eclipse Problems view:

Description|Resource|Path|Location|Type
-|-|-|-|-
Plugin execution not covered by lifecycle configuration: org.apache.maven.plugins:maven-antrun-plugin:1.7:run (execution: default, phase: process-resources)|pom.xml|/com.ibm.wala.cast.js.nodejs|line 18|Maven Project Build Lifecy

[2017-07-07 20:21] msridhar commented on #198
What's the Eclipse version?

[2017-07-07 20:24] liblit commented on #198
I have seen this most often with Eclipse Neon, as that's the version I have mainly used until now. I also see it with Eclipse Oxygen, but it's definitely not *new* to Oxygen.

[2017-07-08 20:51] msridhar opened #199 "Update the target platform for Tycho build?"
Currently, building WALA with Maven via Tycho [uses target platform](https://github.com/wala/WALA/blob/master/pom.xml#L107) [e44](https://github.com/wala/WALA/blob/master/targets/e44/e44.target), which I think corresponds to Eclipse Luna.  We should decide if we want to build with a more recent Eclipse version.  Eclipse Oxygen adds some new compiler warnings [which seem to be useful](https://githu

[2017-07-08 20:52] msridhar commented on #199
/cc @liblit @juliandolby

[2017-07-16 12:58] juliandolby commented on #199
I don't think there are any internal dependencies on Eclipse versions.  We can update to whatever we prefer.

[2017-07-20 19:30] valeriocos opened #205 "analysis of J2EE applications with WALA"
Hi,
I'd like to use WALA to analyse a Java web application, however from what I see WALA does not longer provide built-in support for J2EE semantics.
Could you give me some pointers to understand how to perform this analysis?

thanks in advance

[2017-07-21 17:13] msridhar commented on #205
Answered on mailing list

[2017-07-21 17:13] #205 closed

[2017-07-27 03:46] msridhar commented on #126
Not from within WALA

[2017-07-27 03:46] #126 closed

[2017-08-03 01:36] juliandolby commented on #199
done.  now we run Oxygen on Travis CI.

[2017-08-03 01:49] juliandolby commented on #159
I am about ready to switch to Java 8 anyway now.  But then I guess we should guard against Java 9 until we are ready for it.

[2017-08-03 19:48] msridhar commented on #199
@juliandolby don't we also need to update the target in the main `pom.xml` file [here](https://github.com/wala/WALA/blob/2ba40c99fac5043f4914ea5eb4a4c19a57dc8d11/pom.xml#L108)?

[2017-08-04 00:45] juliandolby commented on #199
you are right.  i had been running e47 on my machine, but somehow failed to commit that file.  done now.

[2017-08-07 17:38] khatchad commented on #169
Suppose we have the following method:
[code]
which produces the following CFG:
[code]
and instructions:
[code]
The error does not occur with this input.

[2017-08-07 17:43] khatchad commented on #169
Now suppose we have this method:
[code]
which produces the following CFG:
[code]
and instructions:
[code]
The problem *does* exhibit itself here.

[2017-08-07 17:48] khatchad commented on #169
Let's have a look at differences in the IR:
[code]
This is the first difference. Let's see if we can change the non-working version to also utilze `apply()` as to elimate possible causes.

[2017-08-07 18:29] khatchad commented on #169
Actually, I don't think that the parameter matters at all because I *cannot* exhibit the problem by calling `count()` and *can* exhibit by calling `toArray()`. Both take no parameters ...

[2017-08-07 19:16] khatchad commented on #169
Turned on debug logging. Here's a log of a working instance:
[code]
Here's one where it's getting stuck:
[code]
Perhaps the handling of reflection has something to do with the problem.

[2017-08-07 20:26] khatchad commented on #169
Removing the reflection handling code doesn't seem to make a difference.

[2017-08-08 19:10] khatchad commented on #169
This problem also seems to surface with N=1.

[2017-08-08 20:17] khatchad commented on #169
To keep things simple, let's set N=1.

[2017-08-09 13:00] khatchad commented on #169
OK, with N=1, actually, I can get the analysis to end within about 7 mins.

[2017-08-09 15:07] khatchad opened #218 "Debug and verbose output is not consistent"
Controlling debugging and verbose output doesn't seem to be consistent. There are multiple constants being used, some of which are hard-coded and others controlled by an environmental variable. It would be great to have a consistent way to control logging.

[2017-08-09 16:19] khatchad commented on #169
It looks like the problem is as follows. Certain stream operations involve more of the JDK, When that happens, being that N=2, there are too many instances to track, making the problem intractable. In conclusion, in some situations, using N=2 is okay but not others. Closing as expected behavior.

[2017-08-09 16:19] #169 closed

[2017-08-09 22:15] khatchad commented on #218
Some problematic entities include:
1. `com.ibm.wala.fixedpoint.impl.AbstractFixedPointSolver.DEBUG`
1. `com.ibm.wala.fixedpoint.impl.AbstractFixedPointSolver.verbose`
1. `com.ibm.wala.fixedpoint.impl.AbstractFixedPointSolver.MORE_VERBOSE`

[2017-08-09 22:18] khatchad commented on #218
It might be more consistent to use something like the `java.util.Logging` package and have things like phases be logged at a `FINE` or `FINER` level.

[2017-08-10 01:03] msridhar commented on #218
Pull requests welcome on this one. Should be a good starter bug. I agree
with introducing a proper logging API

On Wed, Aug 9, 2017, 3:18 PM Raffi Khatchadourian <notifications@github.com>
wrote:

[2017-08-10 15:29] khatchad commented on #218
@msridhar Could add a "help wanted" label (but not sure how much that would help).

[2017-08-11 18:07] khatchad commented on #189
I'm not sure if it would be efficient to have the interprocedural version work the same as the intraprocedural one as the latter computes types for a bunch of variables before there are even any requests for them.

[2017-08-11 19:42] khatchad commented on #189
I agree with @msridhar. This can be done via a pointer analysis. And, given the efficiency concern mentioned above, this should probably not happen. It might be worth renaming the `TypeInference` class to something like `IntraProceduralTypeInference` to make it more clear but there is a javadoc comment regarding this already.

[2017-08-11 19:42] #189 closed

[2017-08-11 21:06] khatchad opened #219 "IClass.getAllMethods() ignores default methods"
`com.ibm.wala.classLoader.IClass.getAllMethods()` should "compute the methods declared by this class or any of its superclasses," but it does not consider default methods. Since classes inherit default methods from implemented interfaces, I would expect such methods to be returned.

## Input
`java.util.ArrayList`

## Expected Output
Return value should contain `java.util.Collection.stream()`.

##

[2017-08-11 22:29] khatchad opened #220 "BytecodeClass.getAllMethods() only processes directly implemented interfaces for interface types"
https://github.com/wala/WALA/blob/7e8e499f041595f6bf28c35a26802977afd9154a/com.ibm.wala.core/src/com/ibm/wala/classLoader/BytecodeClass.java#L395-L399

Wouldn't we want to process all implemented interfaces in this case, not just those directly implemented?

[2017-08-15 15:26] khatchad opened #222 "Warning about not having an explicit target runtime environment configuration"
When I use `mvn install`, one of the log messages is as follows:

[code]

Shouldn't the run time environment be set to Java 1.8?

[2017-08-15 16:20] msridhar commented on #222
Yeah, I've been seeing this error for years, we should fix it.  Do you know how?

[2017-08-15 17:13] khatchad commented on #222
@msridhar Found [this thread](https://dev.eclipse.org/mhonarc/lists/tycho-user/msg00650.html):

[2017-08-15 19:15] liblit opened #223 "remove redundant release-identifying branches"
The WALA git repository has two stale branches that redundantly identify tagged releases:

* git branch [`R_1.3.3`](https://github.com/wala/WALA/tree/R_1.3.3) is identical to git tag [`R_1.3.3`](https://github.com/wala/WALA/releases/tag/R_1.3.3): both refer to commit 7630cd79c9b41bdf1f26cdba491956c0cbb2aad3. The [`R_1.3.3`](https://github.com/wala/WALA/tree/R_1.3.3) branch has not changed in six y

[2017-08-15 21:53] liblit opened #224 "remove already-merged branches"
The WALA git repository has some stale branches representing changes that have already been merged into [`master`](https://github.com/wala/WALA/tree/master). Rebasing before merges has obscured the relationships between the merged commits and the named branches, but I believe that the following branches are indeed already merged in spirit:

* git branch [`ms-speed-up-cg-tests`](https://github.com/

[2017-08-16 01:10] liblit opened #225 "regression test failure: "too much memory""
I am currently seeing a failing regression test when running `mvn --batch-mode --quiet --define skipAfterFailureCount=1 clean verify`:

[code]

This is appearing in the current `master` head: d73b11fd8f47c27f63450f14ad3c0848269942fe. I am also seeing it at least as far back in the history as 8ebfd7615cad588ece58bb5858d447e16c658933, perhaps farther. Apparently the Travis-CI test environment is not

[2017-08-16 01:21] juliandolby commented on #225
This test does not run on Travis CI, partly because it is so resource hungry.  When I run this on my laptop, I typically give those tests -Xmx2G option; I ran it that way just now, and it passed.

  — Julian

[2017-08-16 01:26] liblit commented on #225
Thanks, @juliandolby; that’s helpful. How should I run `mvn` so that it, in turn, runs this or all tests with `-Xmx2G`? Or as an alternative, how to I mimic whatever Travis-CI is doing that allows it to skip this test entirely?

[2017-08-16 01:28] juliandolby commented on #225
I typically use ‘export _JAVA_OPTIONS=-Xmx2G’ before running mvn; that makes all Java jobs use that heap limit.  A bit brute-force, but my laptop has ample memory. :)

[2017-08-16 01:47] juliandolby commented on #225
These tests are guarded by the following check:

    if (System.getenv("TRAVIS") == null) {
      return runTest(url, assertions, builderTypes);
    } else {
      return null;
    }

so if you set the environment variable TRAVIS to some value, that will prevent these hungry tests from running.

[2017-08-16 01:53] liblit commented on #225
Thanks for the info, @juliandolby, covering both how to run the tests with more memory and how to skip them in the manner of Travis-CI. Much appreciated.

[2017-08-16 02:07] liblit commented on #225
I closed this issue because @juliandolby provided the information I needed. But it occurs to me that we now have a code base that *fails* its regression test suite by *default*. It only passes the suite if either `_JAVA_OPTIONS` or `TRAVIS` is set in the environment, neither of which is documented or automated.

Is failure-by-default really what we want? I claim that it is not. So I’m reopening th

[2017-08-16 04:03] msridhar commented on #224
Fixed, thanks for the report

[2017-08-16 04:03] #224 closed

[2017-08-16 04:04] msridhar commented on #223
Fixed, thanks

[2017-08-16 04:04] #223 closed

[2017-08-17 21:45] #219 closed

[2017-08-17 21:52] khatchad commented on #220
Not fixed in https://github.com/wala/WALA/commit/72053efd269fc40a8ad0d6f4171b687d46610fcb. Should be open.

[2017-08-17 22:13] msridhar commented on #220
Whoops, my mistake

[2017-08-21 14:49] khatchad opened #229 "Util.makeNCFABuilder() uses ZeroXInstanceKeys, which may not be valid for n >= 2"
I am quite confused by the following code:

https://github.com/wala/WALA/blob/72053efd269fc40a8ad0d6f4171b687d46610fcb/com.ibm.wala.core/src/com/ibm/wala/ipa/callgraph/impl/Util.java#L489-L491

In this method, `n` is arbitrary, but `ZeroXInstanceKeys` states:

https://github.com/wala/WALA/blob/72053efd269fc40a8ad0d6f4171b687d46610fcb/com.ibm.wala.core/src/com/ibm/wala/ipa/callgraph/propagation/cfa

[2017-08-25 17:04] khatchad opened #233 "Incorrect (or overly conservative) points-to analysis result with two instances (doesn't happen with one)"
I am experiencing an incorrect (or overly conservative) result from a points-to analysis that only seems to happen when I am dealing with ore than one object instance. Consider the following code snippet:

[code]

I am interested in determining the possible types of the return value of the call to `collect()` above. The relevant IR looks as follows:

[code]

For pointer key `v16`, the concrete typ

[2017-08-27 21:06] liblit opened #234 "Eclipse builds fail due to missing jcommander-1.64.jar"
As of [a recent commit](https://github.com/wala/WALA/blob/a49bcf5aa10d5fe5fba43bdb35444d34e203051f/com.ibm.wala.dalvik/.classpath#L14), `com.ibm.wala.ide.jdt.test` requires `lib/jcommander-1.64.jar` in the class search path. However:
- No such file exists under `com.ibm.wala.ide.jdt.test`.
- No corresponding dependency appears in `com.ibm.wala.ide.jdt.test/pom.xml` for Maven to retrieve automatica

[2017-08-27 22:32] #234 closed

[2017-08-28 00:49] liblit commented on #234
Oops, it did not even cross my mind that the missing jar might simply be unnecessary. Thanks for the speedy fix, @msridhar!

[2017-08-28 01:35] liblit opened #236 "plug JarFile resource leaks"
Eclipse Oxygen currently (as of 14ec60add8df34494c40f2e76df229f1b1770d3d) warns about ten potential resource leaks in the WALA code base. All involve [`JarFile`](https://docs.oracle.com/javase/8/docs/api/java/util/jar/JarFile.html) instances that may not be closed properly. Nearly all, or perhaps strictly all, involve uses of `JarFile` by [`JarFileModule`](http://wala.sourceforge.net/javadocs/trun

[2017-08-28 20:44] khatchad opened #241 "com.ibm.wala.util.debug.UnimplementedError: Unhandled JDT node type org.eclipse.jdt.core.dom.ExpressionMethodReference"
Looks like some Java 8 cases are missing in the JDT Java to CAst translator. I am receiving the following exception throw. I assume that the cause is input to the effect of using a method reference:

[code]

https://github.com/wala/WALA/blob/5b6e6aefa069f341cb5b612f245b01953c519d61/com.ibm.wala.cast.java.ecj/src/com/ibm/wala/cast/java/translator/jdt/JDTJava2CAstTranslator.java#L2933

[2017-08-28 21:23] khatchad commented on #233
Having a look at the source of the two methods (namely, `toSet()` and `toList()`):

in `Collectors.java`:
[code]

Looks like both `toList()` and `toSet()` call the same ctor but with different parameters. I wonder if this is a sensitivity issue.

[2017-08-28 21:34] msridhar commented on #233
Yup, I haven't dug into this particular issue yet, but in my past experience this kind of thing is almost always an issue with having too little sensitivity around some key call site.

[2017-08-28 22:50] khatchad opened #242 "Instruction index vs. bytecode index"
The following interface method declaration names its parameter `instructionIndex`:

https://github.com/wala/WALA/blob/5b6e6aefa069f341cb5b612f245b01953c519d61/com.ibm.wala.core/src/com/ibm/wala/classLoader/IMethod.java#L126

However, this corresponding implementation uses bytecode indices, which are very different:

https://github.com/wala/WALA/blob/5b6e6aefa069f341cb5b612f245b01953c519d61/com.ibm

[2017-08-28 22:54] khatchad commented on #233
Hm, perhaps setting k=2 for collection instances may help (but of course decrease performance).

[2017-08-28 22:59] juliandolby commented on #241
Indeed such cases are missing.  The JDT front end was created back in the time of Java 5, and has not been extended significantly since.

[2017-08-28 23:05] khatchad commented on #241
I thought that perhaps this case could translate to a method invocation but I wasn't quite sure since its execution is deferred.

[2017-08-30 17:23] liblit opened #244 "fix remaining raw uses of generic CallGraphBuilder type"
Eclipse Oxygen currently (as of 5b6e6aefa069f341cb5b612f245b01953c519d61) reports only two warnings in the Type Safety and Raw Types category:

Description|Resource|Path|Location|Type
-|-|-|-|-
`CallGraphBuilder` is a raw type. References to generic type `CallGraphBuilder<I>` should be parameterized|`ZeroCFABuilderFactory.java`|`/com.ibm.wala.cast.java/src/com/ibm/wala/cast/java/client/impl`|line

[2017-08-30 20:39] #198 closed

[2017-08-31 17:28] khatchad commented on #233
No good, it didn't make a difference.

[2017-09-01 17:56] liblit commented on #54
Eclipse Oxygen currently (as of 65672f98ba0899ac1de88fc969059e90e4e75215) produces 23 warnings, down from roughly 5,000 back in aeac2a6df02b3b02c28fa3d20b36831efa405edc, just before I first started offering warning-fixing pull requests. Of the 23 warnings that remain:

- 3 are Plug-in Development problems addressed by pull request #227, currently waiting for attention from @juliandolby
- 8 are Plu

[2017-09-08 01:12] #199 closed

[2017-09-12 06:58] liangkehai commented on #168
String a ="asd";

[2017-09-12 20:41] khatchad opened #247 "No instruction in block when an expression is stored in its own variable"
Consider the following code:
[code]
which produces the following IR:
[code]
Now suppose I have a `com.ibm.wala.ipa.cfg.BasicBlockInContext<T>` that represents block `BB4`.  A `toString()` on this object produces the following:
[code]
This block has one and only one instruction, namely, the instruction at index 6. All is well and good, specifically, if I call `com.ibm.wala.ipa.cfg.BasicBlockInConte

[2017-09-13 05:44] msridhar commented on #247
@khatchad how are you constructing control-flow graphs?  An `ExplodedControlFlowGraph` is a view on a CFG where each block is allowed to have at most one instruction.  It makes expressing some analyses easier, e.g., since you don't need to worry about computing a composed transfer function for a multi-instruction basic block.  Do you want a more traditional CFG?

Regarding instruction indices, thi

[2017-09-13 15:52] khatchad commented on #247
@msridhar:

https://github.com/tech-srl/safe/blob/c0a5c887c390ae419515dd1926d3bf3a2b1ea931/com.ibm.safe.typestate/src/com/ibm/safe/typestate/core/AbstractTypestateSolver.java#L772-L774

No, that sounds perfect actually.

OK, that makes sense. But, given this, any thoughts on how I can deal with this situation?

[2017-09-13 15:55] msridhar commented on #247
Is the situation that you can't find the block containing the `count()` invoke instruction?  If you have the block for index 6, I think the successor will be for index 7 (also `null`), and then its successor should be for index 8.

[2017-09-13 16:12] khatchad commented on #247
Not quite. I have the block, but the problem is that the block has "3 instructions" with the first two being `null`. But, as you pointed out, the block can only have *one instruction* which may be `null`.

The block as instructions 6 through 8. Since it's only supposed to hold one instruction, it just returns the null instruction at 6. It should really be returning the one at 8.

[2017-09-13 16:39] khatchad commented on #247
How is it then possible to have:
[code]
The exploded block here has three instructions (`6..8`)?

[2017-09-13 16:45] khatchad commented on #247
Ah, because that is the original :). OK, I think I see what you mean by the successor.

[2017-09-13 16:51] khatchad commented on #247
OK, so because there are three instructions between `6..8`, where should be three exploded blocks corresponding to each instruction. Indeed, there is:
[code]
I have the one at index 7 but I really should have the one at index 9. Thanks for clarifying!

[2017-09-13 16:51] #247 closed

[2017-09-13 16:53] msridhar commented on #247
Cool, glad we got this resolved.

On Wed, Sep 13, 2017 at 9:51 AM Raffi Khatchadourian <
notifications@github.com> wrote:

[2017-09-15 09:37] rizktouma commented on #99
@edwardmp I am facing the same (original) problem that @msridhar posted in this thread. In fact, I am getting exactly the same stacktrace of the null pointer exception:

`Exception in thread "main" java.lang.NullPointerException
	at com.ibm.wala.cast.java.translator.jdt.JDTJava2CAstTranslator.visit(JDTJava2CAstTranslator.java:1493)
	at com.ibm.wala.cast.java.translator.jdt.JDTJava2CAstTranslator.v

[2017-09-17 21:26] msridhar commented on #54
Agreed @liblit, closing

[2017-09-17 21:26] #54 closed

[2017-09-19 19:43] khatchad commented on #233
@msridhar Do you have any ideas on the kind of sensitivity that should be adjusted (and where) to avoid such a problem?

[2017-10-03 20:14] khatchad commented on #233
Looks like there's a nice in-depth discussion of this in https://github.com/wala/WALA/wiki/Pointer-Analysis.

[2017-10-10 19:42] sohah opened #249 "Running WALA-start on Intellij"
Hello,

I am trying to use WALA for the first time. I cloned WALA-start into intellij. Building went fine but when I tried to run the ScopeFileCallGraph with these arguments -scopeFile /Users/.../helloworld.class -mainClass  helloworld

i get the following exception:
Exception in thread "main" java.util.NoSuchElementException
	at java.util.StringTokenizer.nextToken(StringTokenizer.java:349)
	at co

[2017-10-17 08:59] sewe opened #251 "Module should implement Closeable"
At the moment, there is no way for a `Module` to be closed properly, in order to release its resources. This is a problem at least for `JarFileModule`, as the underlying `JarFile` won’t be closed.

If backward compatibility with existing `Module` implementations is a concern (not sure if there are that many), a `default` `close()` method might be added.

[2017-10-17 09:53] sewe commented on #251
One thing that is IMHO important is that the WALA “framework” does not itself try to `close()` a `Module` itself when it thinks it is done with it. Instead, it should be the client’s obligation to do so, as only the client knows when he is done with the analysis. For example, a single `Module` may be reused by multiple analyses in different `AnalysisScope`s. Only when the last analysis is done, ne

[2017-11-01 13:46] sewe opened #254 "InvalidBytecodeException false-positive (Trying to manipulate a pair of one-word items but one of them is two words)"
I just noticed a false-positive `InvalidBytecodeException` while analyzing [`spring-core-3.2.16.RELEASE.jar`](http://search.maven.org/remotecontent?filepath=org/springframework/spring-core/3.2.16.RELEASE/spring-core-3.2.16.RELEASE.jar) with WALA 1.4.3.

I get an `UnimplementedError` when getting the IR from `Lorg/springframework/asm/ClassReader. readConst(I[C)Ljava/lang/Object;`:

    Exception in

[2017-11-09 15:29] waooog opened #255 "IF-ELSE branches share the same condition"
Our tool finds the following fault-prone code snippet in the file: `com.ibm.wala.cast.js/source/com/ibm/wala/cast/js/ipa/callgraph/JSSSAPropagationCallGraphBuilder.java`

**Buggy code snippet**:
`if (constParams != null && constParams[i] != null && i >= num_pseudoargs) {
              targetVisitor.newFieldWrite(target, av, fn, constParams[i]);
  }

else if (i >= num_pseudoargs) {
            Poin

[2017-11-09 15:33] msridhar commented on #255
How can an if and else-if both execute? Do you have an actual input that leads to buggy behavior?

[2017-11-09 15:41] juliandolby commented on #255
'If the first if branch is executed, the second else-if branch will also be executed' surely cannot be true.  That is the purpose of having an 'else if' rather than another if.

[2017-11-09 15:55] waooog commented on #255
Just tested, you two are right, thanks for your quickly action. I will close this issue.

[2017-11-09 15:55] #255 closed

[2017-11-09 16:19] waooog opened #256 "Comparison of Strings using == or !="
My tool has scanned the whole codebase of WALA and found there are six practice issues of string comparison, in which strings are compared by using `==/!=` instead of `equals( )`.

Path: `WALA/com.ibm.wala.shrike/src/com/ibm/wala/shrikeBT/analysis/Analyzer.java`
Code:
  ` if (t != st[j]) { `

Path: `WALA/com.ibm.wala.shrike/src/com/ibm/wala/shrikeBT/analysis/Analyzer.java`
Code:
`  if (t != ls[lj]

[2017-11-09 18:01] msridhar commented on #256
yeah we should probably clean this up.  Error Prone's [ReferenceEquality check](http://errorprone.info/bugpattern/ReferenceEquality) catches similar issues.

[2017-11-09 19:57] khatchad opened #257 "Non-existent value number in IR when analyzing method with a parameter"
I am analyzing a method with a parameter, and I am noticing that references to the parameter correspond to a value number that does not exist:

[code]
In this example, the method `parallelStream()` is invoked on the reference parameter (`v2`). But, there is no `v2` declared in this IR. Is `v2` some sort of special variable for parameters?

[2017-11-13 16:02] arvind4141 opened #258 "Analysing BB's within IR node."
Hello, I'm attempting to analyze the BB's withing a specific IR node.

How do I go about attempting to retrieve this BB from a specific IRnode?
"BB10
17   fieldref v2.v22:#src = v21:#js/index.js = v21:#js/index.js[include:index.html [903->961] (line 35)]index.html [6->33] (line 1) {2=[this, $$destructure$rcvr47]}".

To elaborate more, given that I've a IR node, within these nodes contain Basic Blo

[2017-11-13 16:20] arvind4141 commented on #258
I've managed to solve it.
It seems we need to iterate through a cfg of the node -> ISSABasicBlock -> SSAInstruction.

[2017-11-13 16:20] #258 closed

[2017-11-13 18:58] khatchad commented on #257
I found https://github.com/wala/WALA/wiki/Intermediate-Representation-(IR)#value-numbering:

Sorry for the noise.

[2017-11-13 18:58] #257 closed

[2017-11-13 22:12] khatchad opened #259 "Multiple fake root nodes?"
I understand:
1. WALA may create fake root nodes in the call graph.
1. A call graph may have multiple nodes representing a single method due to context sensitivity.

However, I don't quite understand why WALA would make *multiple* **fake* root nodes. Wouldn't one suffice? In particular, I am seeing the following nodes correspond to a particular method:
[code]

[2017-11-13 22:22] khatchad commented on #259
Here's the IR corresponding to the above nodes:
[code]

[2017-11-13 22:23] khatchad commented on #259
It seems odd that the ctor is called twice.

[2017-11-18 01:54] czardoz opened #260 "Working with WALA in Eclipse Language Server"
Hello,

I'm integrating WALA into the [Eclipse Language Server](https://github.com/eclipse/eclipse.jdt.ls). It seems that WALA depends on some eclipse UI components though. For example,

![image](https://user-images.githubusercontent.com/3726484/32975788-cf2adf6e-cbd0-11e7-814a-a531ac7bc43d.png)

[Link to source](https://github.com/wala/WALA/blob/944f620537f731ae852f43f84f58b28d9cb462c4/com.ibm.wa

[2017-11-18 14:08] msridhar commented on #260
What exactly does it mean?  WALA does have some Eclipse dependencies, but the GUI / PDE dependencies are narrowly scoped to the IDE-related code.  Any code for which there is a [Maven artifact](http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22com.ibm.wala%22) should have no dependencies on Eclipse PDE.

[2017-11-18 23:52] juliandolby commented on #260
If the server does not use PDECore, then it will not be able to use the parts of WALA that are integrated into the IDE, I think.  Those are meant for analyzing Eclipse projects, and so rely on Eclipse utilities.  The analysis of Java source is separate from that code, though; look at com.ibm.wala.cast.java.ecj

[2017-11-19 00:46] czardoz commented on #260
Ah I see. That's why I was not able to construct a `WalaProjectCGModel`.

Thanks for your help!

[2017-11-19 00:46] #260 closed

[2017-11-19 20:15] juliandolby commented on #259
It looks like there is, in fact, only one fact root node, and the multiple constructor contexts come from call string sensitivity.  However, it does seem odd that the fake root node ends up with two creations of com.iluwatar.abstractdocument.App, and then each of those gets two constructor calls.

Could you attach the driver code used to create this call graph?  I want to understand what could cau

[2017-11-27 17:03] liblit commented on #251
This is closely related to issue #236, or might even be the same thing.

[2017-11-27 17:25] liblit opened #268 "Java 8 not used for some fragments of `wala.core.testdata`"
@juliandolby assures me that WALA should now be using Java 8 throughout. Recent pull requests #264 and #265 updated several parts of the build configuration to be consistent with this intent. However, a few fragments of `com.ibm.wala.core.testdata` are still using earlier Java versions. My attempts to update these lead to regression test failures. I'm documenting these here and explicitly asking f

[2017-11-28 18:37] liblit opened #270 "improper mixing of TypeReference and TypeAbstraction in SetType"
The `com.ibm.wala.analysis.typeInference.SetType` class includes a [`types` member](https://github.com/wala/WALA/blob/5ac8bf881da01d1e056e54ba42b750ed0515784a/com.ibm.wala.core/src/com/ibm/wala/analysis/typeInference/SetType.java#L26) of type `HashSet<TypeReference>`. Elsewhere we see values of type `TypeReference` being [added](https://github.com/wala/WALA/blob/5ac8bf881da01d1e056e54ba42b750ed051

[2017-12-19 20:42] khatchad opened #273 "Atom.startsWith() fails when the explicit parameter is greater in length than this Atom"
Exception is thrown when `start`'s length is greater than this `Atom`s length.

https://github.com/wala/WALA/blob/d29e278291dc0b93db6ef128291c1d19cf6c8079/com.ibm.wala.core/src/com/ibm/wala/util/strings/Atom.java#L173-L182

[2017-12-20 22:45] #273 closed

[2018-01-10 15:10] mohrm opened #279 "ant scripts only download stuff"
I just had a look at the ant scripts in the WALA repo. It appears to me that all they do is:
* download dependencies
* download (and maybe compile) testdata
This is not very surprising given the fact that WALA is built with maven for several years now but I ask myself if all these build.xml's could not be removed altogether? This would simplify the whole build process (since we could get rid of al

[2018-01-11 16:19] Nic007 commented on #94
The fix you are talking about has been reverted one day later in the commit https://github.com/wala/WALA/commit/0575f40168d6ac5aeb4e1313d89defefed362dbe . I had to manually comment the line about macos to compile.

[2018-01-12 19:38] pariak opened #280 "Decompile apk"
Hello,

here is the result I get when I try to decompile an apk file:

timeout is 1000000
Analyzing /home/analyzer/WALA/com.ibm.wala.dalvik/StringTest.apk...
java.lang.NullPointerException
    at com.ibm.wala.dalvik.test.util.Util.androidLibs(Util.java:94)
    at com.ibm.wala.dalvik.drivers.APKCallGraphDriver.libs(APKCallGraphDriver.java:47)
    at com.ibm.wala.dalvik.drivers.APKCallGraphDriver.ac

[2018-01-16 15:35] khatchad opened #281 "Issue mapping method in AIC from Eclipse to WALA"
I am unable to use `com.ibm.wala.cast.java.translator.jdt.JDTIdentityMapper.getMethodRef(IMethodBinding)` to look up a method declared in an AIC. Here's an input example that causes this error:

[code]
The input method is the `m()` declaration inside the AIC. Here's the client code:

[code]

And stack trace from a test I ran:

...
-- Error Log from JUnit --
Method: testAnonymousInnerClass
Actual:

[2018-02-07 17:32] liblit commented on #268
Fixed in c8cdaf86163b9b0d3f717ac8f5376f293900a548 by @juliandolby. Yay!

[2018-02-07 17:32] #268 closed

[2018-02-09 16:18] Ameerah89 opened #282 "Problem with cpm.ibm.eala.cast.java.ecj and com.ibm.wala.cast.js.nodejs"
Hello,

**com.ibm.wala.cast.java.ecj**
under package com.ibm.wala.cast.java.translator.jdt, the class FakeExceptionTypeBinding giving me this error:

The type FakeExceptionTypeBinding must implement the inherited abstract method ITypeBinding.getAnchorPath()	FakeExceptionTypeBinding.java	/com.ibm.wala.cast.java.ecj/src/com/ibm/wala/cast/java/translator/jdt	line 58	Java Problem

**com.ibm.wala.cast.

[2018-02-09 16:24] juliandolby commented on #282
What version of Eclipse are you using?  FakeExceptionTypeBinding problems sometimes come from using older (or newer) versions of Eclipse.  I currently run with Eclipse Oxygen.2, release 4.7.2

[2018-02-09 16:25] Ameerah89 commented on #282
I am using the latest Eclipse Oxygen

[2018-02-09 17:27] juliandolby commented on #282
Hmm.  I just got the latest Eclipse Oxygen.2 (the splash screen says December 2017) and I do not see this issue.  Could you paste what 'About Eclipse' says for you?

mine says the following:
Eclipse IDE for Eclipse Committers

Version: Oxygen.2 Release (4.7.2)
Build id: 20171218-0600

[2018-02-09 17:48] Ameerah89 commented on #282
It's working now. I download exactly the version that you use and it's work. Thank you so much.

[2018-02-09 17:55] juliandolby commented on #282
Great.  I am curious what version you had before, though.  Did you by any chance have a pre-release of Photon (4.8)?  In general, our support tracks released versions of Eclipse but not generally pre-releases.

[2018-02-09 18:04] Ameerah89 commented on #282
I used Oxygen 4.7.2. Downloaded it from Eclipse websites. I don't know what happens too. So after you replied, I download the zip file and run the exe file instead. And it is work.

[2018-02-20 05:41] lavenzg opened #284 "Generate CFG from source code files without dependency packages"
Previously I used WALA to generate CFGs for some jar files. I also know how to use it to get the CFGs for source code files. But now I have some java files without dependency packages. Is it still possible to generate CFGs from these files? Thanks!

[2018-02-23 14:40] florian-kuebler opened #285 "java.lang.ClassCastException when using SubtypesEntrypoint"
While trying to generate sound call graphs for libraries using SubtypesEntrypoint, I the following ClassCastException when invoking `makeCallGraph`:

[code]

Here is the code is use to generate the call graph:

[code]
[code]

[2018-03-15 23:32] rylyade1 opened #288 "com.ibm.wala.ipa.cha.ClassHierarchyException: failed to load root <Primordial,Ljava/lang/Object> of class hierarchy"
I am trying to perform slicing of a java source code but i am getting this error:
`com.ibm.wala.ipa.cha.ClassHierarchyException: failed to load root <Primordial,Ljava/lang/Object> of class hierarchy
	at com.ibm.wala.ipa.cha.ClassHierarchy.<init>(ClassHierarchy.java:261)
	at com.ibm.wala.ipa.cha.ClassHierarchy.<init>(ClassHierarchy.java:176)
	at com.ibm.wala.ipa.cha.ClassHierarchyFactory.make(Class

[2018-03-18 19:00] wotopul opened #289 "`equals/hashCode` contract violation for `SSAInstruction`"
Current implementation of [`SSAInstruction`](https://github.com/wala/WALA/blob/e2c1f72a3e1e3d3a5566c2d5e37fe274c9e6504b/com.ibm.wala.core/src/com/ibm/wala/ssa/SSAInstruction.java) (and its subclasses) violates `equals/hashCode` contract. For instance please see [`SSAPhiInstruction`](https://github.com/wala/WALA/blob/e2c1f72a3e1e3d3a5566c2d5e37fe274c9e6504b/com.ibm.wala.core/src/com/ibm/wala/ssa/SS

[2018-03-22 12:24] spyyes opened #290 "Is wala a inter-procedural slice tool or intra-procedural slice tool?"
Hey, I'm new to Wala, and I have a question about slicing.
I know that Slice can be divided into _inter-procedural_ and _intra-procedural_, and I know that Wala can do _inter-procedual_ slice. But can I get _intra-procedural slice_? If I can, how to do it?
There is another question, what is the difference between _insensitive slicing_ and _sensitive slicing_?

Thanks in advance. I'm looking for yo

[2018-04-10 16:40] Ameerah89 opened #291 "Launcher for com.ibm.wala.cast.js.test"
Hello,

I try to run the provided test in com.ibm.wala.cast.js.test library but I could not run it because there are no launchers available. Could any one give me idea on how to run the example provided?

Thank you.

[2018-04-10 19:04] juliandolby commented on #291
Try the com.ibm.wala.cast.js.rhino.test project; that is the front end for Rhino and the com.ibm.wala.cast.js.test project is abstract code that the rhino tests use.

  — Julian

[2018-04-16 13:45] Ameerah89 opened #294 "visualize call graph for javascript"
Hi,
I try to use PDFCallGraph to visualize the call graph for javascript but it is not working. Could anyone help me with this? I want to visualize the javascript callgraph

[2018-04-16 21:21] samgalen opened #295 "DOM and variable modeling for JavaScript analysis?"
In JavaScript with the pattern

[code]

it seems that if we've included preamble.js in our analysis, `prop` should be considered a valid variable. However when I build analyses for code with that pattern, I can't find instructions corresponding to the write to prop["foo"]. My hunch is that that's because `prop` in line 4 isn't recognized as a valid variable.

Is this a correct understanding of how

[2018-04-17 19:56] Ameerah89 opened #296 "NodejsCallGraphBuilderUtil"
Hi,

I am trying to build nodeJs callgraph with this library but I could not find any documentation about this library. Can anyone that has used this library give some example?

[2018-04-18 09:54] chenzhegodspeed opened #297 "AST generation in WALA"
The User Guide says Eclipse ASTs needs only in the context of a running Eclipse. As I known, Eclipse-JDT can work in a standalone application. So it is possible to support source front end?

[2018-04-18 10:07] chenzhegodspeed commented on #284
Hello lavenzg,
    Can you tell me how to generate CFGS form source code files?

[2018-04-19 23:01] juliandolby commented on #297
If I understand the question correctly, then I think what you want is the ECJ front end; take a look at com.ibm.wala.cast.java.ecj

[2018-04-19 23:02] juliandolby commented on #296
Take a look in the tests in com.ibm.wala.cast.js.nodejs.test; they provide examples of using this code.

[2018-04-19 23:06] juliandolby commented on #295
You wont find those.  In the top-level function, you should see a read of window.prop that is passed to a call, and, in the called function, a write to the foo property of the x parameter.

[2018-04-20 02:12] lujiefsi opened #301 "Resource leak: 's' is never closed In ClassLoaderImpl"
In ClassLoaderImpl#314:
final JarInputStream s = new JarInputStream(new ByteArrayInputStream(jarFileContents), false);

s never close

[2018-04-20 07:30] chenzhegodspeed commented on #297
So I can get **AST** from java source code? When I see the **User Guide** on **wiki**, I am surprised that wala framework has no source front end.
Thanks for your reply. I will see **ecj** tomorrow. Maybe **User Guide** on **wiki** need update.

[2018-04-22 01:46] baileynottingham opened #302 "Getting Constant Value from the parameter of a method"
I am analyzing the source code of this line using Wala:

writeFile("File.txt");

I have the IR corresponding to that line of source. I am calling the symbol table of that IR to get that constant value from the parameter of that method. I am getting an error claiming that the parameter isn't a constant but it clearly is. Does anything come up to anyone on why this might not be working?

[2018-04-25 06:07] juliandolby commented on #302
If you give us more detail, we may be able to suggest what is going on.  It would be helpful to see your code that uses WALA, so we can see precisely what you are doing.

[2018-04-26 06:34] vngkv123 opened #304 "How to create CFG from .apk file?"
I'm new in WALA, but i can't see example code to build CFG from .apk file.
How to code to do that? :(

[2018-04-26 21:05] samgalen commented on #295
Looking at this further, I created a callgraph for

[code]
which produced the following CallGraph (with calls to preamble.js and prologue.js removed)

[dom-cg.pdf](https://github.com/wala/WALA/files/1952963/dom-cg.pdf)

and then a callgraph for
[code]

which produced this callgraph:

[comp-cg.pdf](https://github.com/wala/WALA/files/1952968/comp-cg.pdf)

As you can see, in this one, there's an addi

[2018-04-27 15:38] Ameerah89 opened #305 "PDF version of tutorial not available"
Hi,

Why does this link does not work suddenly?
I opened it this morning and its okay but when I try to open it just now it is not working
http://wala.sourceforge.net/files/WALAJavaScriptTutorial.pdf

[2018-04-27 15:48] msridhar commented on #305
Link works for me.  Try again?

On Fri, Apr 27, 2018 at 8:38 AM Ameerah89 <notifications@github.com> wrote:

[2018-04-28 16:32] juliandolby commented on #297
You just want Eclipse ASTs?  If so, there is no need of WALA at all; however, you could look at our Eclipse front end code to see how o get ASTs.

[2018-04-28 16:34] #282 closed

[2018-05-18 17:39] Ameerah89 opened #306 "Print IR for all source code"
Hello,

In the PLDI tutorial, it shows an example to print IR for a function in the code. Is there any way to print IR for the whole source code?

[2018-05-18 18:25] msridhar commented on #306
https://github.com/wala/WALA/blob/master/com.ibm.wala.core.tests/src/com/ibm/wala/examples/analysis/ConstructAllIRs.java Does that help?

[2018-05-21 07:25] thanhtoantnt opened #307 "Exception when building call graph for JavaScript"
I am following this article to build JavaScript call graph:
http://wala.sourceforge.net/wiki/index.php/Getting_Started:JavaScript_frontend#Building_call_graphs
I run the two instructions and made sure dir and name are correct directory and file name.
[code]

And I got the following error:
[code]

Is anyone know how to fix this problem?

[2018-05-21 21:36] msridhar commented on #307
What is your config?  Are you pulling in jars from Maven Central or building from source?  If the latter, did you run `mvn clean verify -DskipTests=true -q` (see [here](https://github.com/wala/WALA/wiki/Getting-Started#building-the-code))?

[2018-05-21 23:20] liblit commented on #301
The code in question uses a `try`-with-resources statement to manage the stream’s lifetime:

https://github.com/wala/WALA/blob/0286c2b0487735176fb98c526a2eddc442c324f1/com.ibm.wala.core/src/com/ibm/wala/classLoader/ClassLoaderImpl.java#L314

The stream will close upon exit from this statement, regardless of whether that happens through normal or exceptional control flow. That is, after all, exactl

[2018-05-22 03:41] thanhtoantnt commented on #307
I figured it out. I build from source using Maven and then include jar files to Java Build Path but I didn't add some libraries. The above error is by Rhino is not added. Thanks for your response.

[2018-05-22 03:41] #307 closed

[2018-05-22 12:11] juliandolby commented on #306
If you are using the source front end, there is CAstCallGraphUtil.dumpCG, which dumps the IR along with pointer analysis information..

[2018-05-22 12:12] juliandolby commented on #305
It still works for me too.  Does it work for you?

[2018-05-22 12:15] juliandolby commented on #304
Have you tried APKCallGraphDriver?

[2018-05-22 13:34] anantoni opened #310 "Next WALA release on Maven Central?"
Hello,

Since it's been a while (almost 10 months) since WALA 1.4.3 was released on Maven Central, is there any roadmap for the next WALA release? If not, do you guys have any plans to provide nightly snapshots of WALA in the future?

Thanks in advance,
Tony

[2018-05-22 19:21] Ameerah89 commented on #306
I want to print the IR for nodejs. Will try the suggestion above

[2018-05-24 08:48] prachirp7 opened #313 "Maven Build Failed"
Environment :
Apache Maven 3.5.3
Java version: 1.8.0_171
mac os x version: 10.13.3
Eclipse Java EE. Version: Oxygen.3a Release (4.7.3a)

workflow :
cloned the repository from git and imported into eclipse. tried building with maven using
mvn clean
mvn verify -DskipTests=true -q
clean was successful but verify failed.

Attaching logs to this post.
[error_logs_mvn.pdf](https://github.com/wala/WALA/f

[2018-05-24 15:24] Ameerah89 opened #314 "Problem with getNumberOfParameters"
Hi, I have a code that works properly before the update version of WALA. But after I updated to the new version, **getNumberOfParameters** does not work. It give me error _

_.

The previous version of WALA does not give me error like this. When I check the library **com.ibm.wala.cast.js.ssa.JavaScriptInvoke** I realize that the method **getNumberOfParameters** was not available under that libaray

[2018-05-25 07:37] #301 closed

[2018-05-25 16:10] juliandolby commented on #314
We are moving to support Python, which has both positional and keyword arguments, hence that method has been renamed to getNumberOfPositionalParameters.

[2018-06-04 11:11] sifislag opened #316 "Initial values of static fields in DexIFields"
Hello,
    In Java static fields with initial values are initialized in <clinit>. However in dex bytecode static fields are not initialized in <clinit> and the initial values are stored in an array (For more information check static_values_off in https://source.android.com/devices/tech/dalvik/dex-format).

Dexlib2 has a way to access the initial value of a static field: org.jf.dexlib2.iface.Field

[2018-06-04 16:09] juliandolby commented on #316
It sounds like what we need to is use the getInitialValue API for each static field in the class, and add initialization of each field to the static <clinit> method.  If that is what we need to do, then it is highly possible and I will do it soon.  If that is not what we need to do, then perhaps you could clarify.

[2018-06-05 09:23] sifislag commented on #316
Sorry my initial message missed the word "\<clinit\>" in two places due to formatting, it is now fixed. What you suggest would solve this problem. Thank you.

[2018-06-05 15:59] sifislag opened #318 "Problem with exception handlers in IR"
Hello,
I've encountered a case where the Exception Handlers in the IR seem to be wrong.
The method is runWorker() of java.util.concurrent.ThreadPoolExecutor.
The point of interest is the try block with the 3 catch blocks.
The source code of the method:
[code]
The generated IR printed by WALA (minus the CFG):
[code]
As you can see the third ExceptionHandlerBasicBlock is empty.
This can cause Throwa

[2018-06-13 14:20] zhaogang92 commented on #284
@chenzhegodspeed I used the polyglot package (this may not be included in recent version of WALA). If the source code files contain dependency, this works pretty good, just like generating CFG from .jar files. But if some dependencies are missing, the generated CFGs for some methods may not be correct.

[2018-06-18 20:27] sohah opened #320 "Phis in Wala"
I am trying to understand how phis are constructed in WALA. It looks like they are generated in two places, `addPhiForLocal` and `addPhiForStackSlot`. These two are embedded in the larger context of `meet` method.
Now I really do not understand why do we need `addPhiForLocal` when in fact `addPhiForStackSlot` will take care of all phis, it doesn't seem that we need the other one. Can anyone explai

[2018-06-22 13:29] msridhar commented on #320
Oof it's been a long time since I've been in this code.  @juliandolby any thoughts here?

[2018-06-24 12:40] juliandolby commented on #318
A quick look at the Java 8 documentation that Runnable.run does not have an explicit throws clause.  Hence, I think RuntimeException and Error together cover everything that could be thrown and hence that last catch clause is redundant.  WALA might figure this out and delete the last catch.

[2018-06-25 10:16] sifislag commented on #318
In Java there are ways to throw a checked exception without declaring it. The 2nd and 4th answers to this question show two possible ways (I don't know of any more): https://stackoverflow.com/questions/4519557/is-there-a-way-to-throw-an-exception-without-adding-the-throws-declaration
We want to be able to keep all this information as it is on the bytecode and have our exception analysis infer whic

[2018-06-27 20:50] msridhar opened #322 "Allow WALA to support missing superclasses?"
Right now, when loading a class C into a `ClassHierarchy`, if a superclass of C cannot be resolved, then C is not added to the hierarchy:

https://github.com/wala/WALA/blob/bc0309b5ba9c8c59abdf3ee8fd94a83e1beec3c9/com.ibm.wala.core/src/com/ibm/wala/ipa/cha/ClassHierarchy.java#L310-L324

We have cases where we'd like a class to still be present in the hierarchy even if the superclass cannot be reso

[2018-07-02 04:07] rzs840707 opened #323 "Can't build on windows 10 with jdk 8"
I am trying build wala 1.4.2 on windows environment with jdk 1.8.0_144 and maven 3.5.1. When I follow the instruction with readme and instructions on wiki page or github help, it wasn't work. I am so depressed to tell you that.

May you tell me the way to build it on windows, or on linux environments, thanks.

[2018-07-04 16:24] sifislag opened #324 "Exception when getting the IR of certain application methods in Android."
Hello,
Since moving from version 1.4.3 to version 1.5.0-SNAPSHOT we've been having some issues with Android. When going through the class hierarchy and generating/caching the IR of each method we've been getting an IllegalArgumentException for some methods of the apk.
[code]
I've had the issue with all 4 apks that I tried. One of these apks is the official wikipedia application version 2.7.224-r-2

[2018-07-05 11:57] jerryhero commented on #324
how to get the 1.5.0 version?

[2018-07-05 12:01] sifislag commented on #324
I built it myself from sources.

[2018-07-12 17:54] msridhar opened #326 "how to publish to maven local using gradle?"
I tried `./gradlew publishToMavenLocal` and that stuck the source jars in `~/.m2/repository` but not the actual jar file with all the classes:

[code]

When I do `mvn clean install -DskipTests` all relevant jars are installed:
[code]

`com.ibm.wala.core-1.5.0-SNAPSHOT.jar` is the key file.  I'd much rather do this with Gradle than Maven 😄 @liblit any thoughts?

[2018-07-12 22:42] liblit commented on #326
The `publishToMavenLocal` task is available due to 1d8869bb0a5966085755c6be5e98a69a051a744f, which represented my first, tentative foray into Gradle-driven publishing of build artifacts. As noted in that commit’s description, though, the published artifacts include only source archives. I never continued beyond that to include bytecode.

Prompted by @msridhar’s question, I am now looking into expa

[2018-07-12 23:38] liblit commented on #326
My personal WALA repository clone now has [an experimental `more-complete-publishing` branch](https://github.com/liblit/WALA/tree/more-complete-publishing) that includes all of WALA’s built Java bytecode jar archives in `publishToMavenLocal`. There are definitely some differences between the artifacts published by Maven and Gradle, especially in `*.pom` files and in jar-embedded `META-INF/MANIFEST

[2018-07-19 12:15] karimhamdanali opened #328 "More descriptive messages when Gradle script fails"
Running the gradle script on a machine that doesn't have gcc/g++ causes the following error to be thrown:

[code]

Despite being detailed, the error does not actually point out to the original root cause as to why the script fails (i.e., missing gcc/g++). Perhaps, the script can check the existence of g++/gcc prior to execution and print a more actionable error message to the user. Alternatively,

[2018-07-19 12:16] karimhamdanali commented on #328
@liblit I believe you are probably the best person to tag in this thread :)

[2018-07-19 12:54] msridhar commented on #326
@liblit sorry for the slow response.  I cloned your branch, and using the Maven local version of WALA from another project worked fine!  Can you open a PR with your change?

[2018-07-19 14:10] #322 closed

[2018-07-19 20:23] #326 closed

[2018-07-20 02:11] liblit commented on #328
I will look into this shortly; we should be able to do better. But at the risk of seeming judgmental…what kind of philistine uses a machine without gcc/g++ installed? :stuck_out_tongue:

[2018-07-20 04:45] liblit commented on #328
Gradle already has perfectly good explanatory diagnostics in the case where no C/C++ compiler toolchain is available. Unfortunately, we were dereferencing `null` before Gradle could get far enough to show those messages. Once #333 is merged, you will see the standard Gradle explanation, which should look something like the following:

[code]

Furthermore, this should only trigger if you ask Gradle

[2018-07-20 06:44] #328 closed

[2018-07-20 08:06] karimhamdanali commented on #328
In my defense, it's a new server that I just got for my group, and I completely forgot about that! So I certainly assumed it has g++/gcc when I was compiling this. Thanks Ben and Manu for taking care of this one.

[2018-07-30 12:10] anantoni commented on #310
@msridhar Pinging as a reminder of my request for a new WALA release. Thanks in advance!

[2018-07-30 16:17] msridhar commented on #324
@sifislag is this fixed on WALA master?

[2018-07-31 12:04] sifislag commented on #324
@msridhar I just checked and it is still has the same issues.

[2018-08-10 03:35] jay2013 opened #339 "since ''findMethod'' has the same logic with else block, I think else block can be omitted."
https://github.com/wala/WALA/blob/d92c732decbff36dc68e45f351a94af8df9ba69b/com.ibm.wala.core/src/com/ibm/wala/ipa/cha/ClassHierarchy.java#L627

on line 624, it seems that ''findMethod" has the same logic with the else block between line 628 and 640. I think the else block can hence be omitted.

I am willing to make contribution to wala, but currently I do not know what I can do.

[2018-08-10 16:39] msridhar commented on #339
Looks like one case returns `null` and another case returns the result of `resolveMethod`?

[2018-08-13 03:28] jgsuess opened #341 "Default build for mvn fails to identify missing jni headers."
[code]

[2018-08-13 03:57] jgsuess opened #342 "Default gradle build stuck without feedback."
I am performing an exploration of Wala for our reserch lab. We have tried to run pre-compiled binary components to [test Wala examples](https://github.com/wala/WALA/wiki/Getting-Started#running-wala-example-programs), but where faced with issues. So I have decided to build from source to get latest.

I am running the standard gradle build using ``gradlew assembly`` as described in [the build instr

[2018-08-13 04:10] liblit commented on #342
What output is produced leading up to the “stuck without feedback” point? Is there any initial output at all, or is it completely silent from the start?

FYI, your `gradlew assembly` should be `./gradlew assemble`, though that shouldn’t cause things to get stuck.

[2018-08-13 15:52] msridhar commented on #341
@jgsuess sorry for the issues.  The CI config is all in the [.travis.yml file](https://github.com/wala/WALA/blob/master/.travis.yml); hopefully that's helpful?

@juliandolby any ideas what is going on here?

[2018-08-13 15:53] msridhar commented on #342
FWIW when I've run into this issue before with gradle, it was because some plugin was unable to pull some network artifact.  Also note that the initial build with gradle causes some huge amount of Eclipse-related stuff to get downloaded, with no progress indicator.  It's taken several minutes to complete for me before.

[2018-08-13 15:54] msridhar commented on #342
And yes any partial output would be useful, for comparison purposes.

[2018-08-13 21:29] jgsuess commented on #342
There is no output. The build prompts ``starting daemon``, and then there is no more feedback. Even if I set the switch ``--no-daemon``, I see the same result. Gradle produces the lock files in the ``.gradle/daemon/(version)`` directory, but no log.
I have traced this back to being a proxy issue. However JVM proxy via environment and system property did not solve it. But when I ran using direct in

[2018-08-13 21:29] #342 closed

[2018-08-14 00:34] jgsuess opened #343 "Build fails, due to error in ``./com.ibm.wala.dalvik.test/build.xml``: Copy precondition not evaluated"
in ``./com.ibm.wala.dalvik.test/build.xml:40`` the property ``androiddir`` is set
[code]
however, even if unset (i.e. no ``ANDROID_HOME``), it is still referenced in l.68 ``fetchDxJar`` and called via dependency from ``getJars``

[code]

leading to build failure:

[code]

[2018-08-14 00:43] jgsuess commented on #343
All of this seems to lead to ``dx.jar`` from the Android SDK. Is the SDK a prerequisite for the build? Which version?

[2018-08-14 01:51] jgsuess commented on #343
It seems that the required package for Ubuntu is the [Build Tools Installer](https://packages.ubuntu.com/xenial/google-android-build-tools-installer)

[2018-08-17 03:28] lczxxx123 commented on #304
I tried to run APKCallGraphDriver.
(1)However, first i left the /libs empty, then i meet with
[code]

(2)if i put something like android.jar or support-v4-26.1.0-sources.jar into /libs, i will meet with
[code]
So what's the parameter "androidLibs" mean in
`public static Pair<CallGraph, PointerAnalysis<InstanceKey>> makeAPKCallGraph(URI[] androidLibs, File androidAPIJar, String apkFileName, IProgre

[2018-08-23 05:10] msridhar commented on #310
1.5.0 is on Maven Central.  Will email out release notes (of some sort) soon

[2018-08-23 05:10] #310 closed

[2018-08-28 16:59] Jacoppy opened #346 "assert "Dalvik".equals(System.getProperty("java.vm.name")); in dalvik.test"
Hi,
I am starting working with WALA for make an android static analysis tool.
I wanted to ask how am I supposed to resolve this error, because if it seems that the framework is expected to run in a dalvik VM, but I just would like to analyze an apk on Ubuntu.
Thanks in advance.

PS: there are some tutorials on WALA with Android more than https://github.com/wala/Examples, which have the same issue?

[2018-08-28 17:03] msridhar commented on #346
@Jacoppy we're going to need some more details on what exactly you're trying to do (exact commands, etc.) in order to understand the problem here.

[2018-08-28 17:15] Jacoppy commented on #346
I am just trying to run the dalvik tests and I get Assertion Error due to this :
Dalvik".equals(System.getProperty("java.vm.name"));
If you take for example com.ibm.wala.dalvik.drivers.APKCallGraphDriver.java I get this error when it tries to launch
Util.androidLibs();
Am I supposed to provide specific libraries?
Thanks

[2018-08-28 17:18] msridhar commented on #346
^ @juliandolby?

Maybe we need to better document what needs to be installed on the system to run the Dalvik tests.  Our [Travis config](https://github.com/wala/WALA/blob/master/.travis.yml#L2) uses a base image with Android stuff installed, so I imagine you might need the SDK installed.

[2018-08-28 17:25] Jacoppy commented on #346
I have Android Studio installed in, I have just seend that the function libs in com.ibm.wala.dalvik.drivers.APKCallGraphDriver.java searches for actually some libraries into a folder libs.
I tried to put inside the android.jar of different SDK version but I have other errors so I am not pretty sure what to do.
Anyway I would need WALA for build up an Android slicer, there is maybe some usefull doc

[2018-08-28 17:41] Jacoppy commented on #346
I tried also to install the same version of your build tools, 26.0.2, and copy all the jars and dex inside that folder but now I have this issue:
using /tmp/name1264526317189494409_classes.dex
java.lang.NullPointerException: entry
	at java.util.zip.ZipFile.getInputStream(ZipFile.java:361)
	at java.util.jar.JarFile.getInputStream(JarFile.java:447)
	at com.ibm.wala.dalvik.classLoader.DexFileModule.<

[2018-08-28 18:04] msridhar commented on #346
@Jacoppy can you see if `./gradlew test :com.ibm.wala.dalvik.test:test` works for you?  Warning: it may download a lot of stuff (like its own copy of the SDK)

[2018-08-28 18:30] Jacoppy commented on #346
Well, I have tried both gradle and JUnit tests.
Even if these gradle tests works, the JUnit have some issues, as the Assertion error I mentioned you in testJLex, com.ibm.wala.dalvik.test.callGraph.JVMLDalvikComparisonTest .
I also tried to use /com.ibm.wala.dalvik.test/source/com/ibm/wala/dalvik/drivers/APKCallGraphDriver.java with another APK, not only the one tested and I got those errors.
Same

[2018-08-28 18:35] msridhar commented on #346
How are you running tests?  In Eclipse?  IntelliJ?

On Tue, Aug 28, 2018 at 11:30 AM Jacoppy <notifications@github.com> wrote:

[2018-08-28 18:35] Jacoppy commented on #346
Eclipse

[2018-08-28 18:37] Jacoppy commented on #346
Being more precise, Eclipse photon on Ubuntu 18.04 .

[2018-08-28 18:40] msridhar commented on #346
Ok, I don't use Eclipse anymore.  We'll need help from @juliandolby here

On Tue, Aug 28, 2018 at 11:37 AM Jacoppy <notifications@github.com> wrote:

[2018-08-28 18:44] Jacoppy commented on #346
Okay, anyway the good thing is that all gradle tests work correctly. I'll keep digging into WALA for answers, but keep me updated please @msridhar @juliandolby .
Thank you very much @msridhar  and sorry for bothering.

[2018-08-28 18:46] msridhar commented on #346
No problem, glad to help!

On Tue, Aug 28, 2018 at 11:44 AM Jacoppy <notifications@github.com> wrote:

[2018-08-29 18:06] Ameerah89 opened #347 "Problem in build.properties"
In every build properties that, I have error that says

source folder 'source/java' does not have the output folder in correponding output entry 'output..'

Can any one help me with this?

[2018-08-30 02:41] msridhar commented on #347
Where do you see this error?  Eclipse?

On Wed, Aug 29, 2018 at 11:07 AM Ameerah89 <notifications@github.com> wrote:

[2018-09-05 17:54] Jacoppy opened #348 "Errors during Call Graph Creation on Android"
Hi,
I am still working on WALA.
I am trying now to create a Complete Call Graph from an Android Application but I am encountering random errors, depending on the apk I analyze.
This is my code :

`public static void main(String[] args) {
		//File apk = new File(args[0]);
		File apk = new File("/home/jacopo/Documents/work/good_apps/00ADBDEE7ED68BB4C243F30EA0BABD56C034574303783924DC9654F2916A43E8.ap

[2018-09-06 12:13] juliandolby commented on #348
Yes, I thought we had.  Are you using the latest WALA from github?  If so, could you make the APK available so that I can reproduce?

[2018-09-06 14:42] Jacoppy commented on #348
Yes I cloned the repo 10-12 days ago so I guess is the latest version.
In the uploaded zip there are 2 apks.
The first one gives the error mentioned earlier, while the second one generates this one:
`
java.lang.IllegalArgumentException: invalid descriptor: Lcom/google/android/gms/games/PlayerEntity;
	at com.ibm.wala.util.strings.StringStuff.parseForReturnTypeName(StringStuff.java:153)
	at com.ibm.

[2018-09-07 10:50] lhf777111 opened #349 "Why the type of classLoader of java.lang.String is Application"
The java.lang.String is loaded by Primordial loader in the statement if "cha = ClassHierarchyFactory.make(scope);". Why the type of classLoader of java.lang.String is changed to Application later?

![1](https://user-images.githubusercontent.com/16070223/45215072-d288fc00-b2ce-11e8-9d2d-3f4af8414f3e.JPG)

[2018-09-07 14:46] msridhar commented on #349
A `TypeReference` to a type usually uses the same class loader as the enclosing class that mentions the type.  So if an Application class refers to String, you'll see a reference like the one you posted.  If you want the resolved reference with the correct class loader, do `cha.lookupClass(ref).getReference()`.

[2018-09-07 14:46] #349 closed

[2018-09-08 02:37] lhf777111 commented on #349
works，thanks

[2018-09-11 08:54] lczxxx123 commented on #324
when i use 1.4.3 version, that's ok, but when i use 1.5.0, i meet the same exception

[2018-09-11 11:30] lczxxx123 opened #350 "[Android] got two invalid descriptor when building callgraph"
#### WALA version: 1.5.0 on mvnrepository.

#### APK1 link (source code && release apk): https://f-droid.org/packages/com.philliphsu.clock2/

#### APK2 link (source code && release apk): https://f-droid.org/packages/com.phpsysinfo/

My problem is similar to issue 324 https://github.com/wala/WALA/issues/324 and issue 348 https://github.com/wala/WALA/issues/348

when i try to build callgraph,

APK1

[2018-09-11 11:31] lczxxx123 commented on #350
# APK1:

[Start] makeCallGraph
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
got here
got here: < Application, Lcom/philliphsu/clock2/MainActivity$1, <init>(Lcom/philliphsu/clock2/MainActivity;)V >
got here: < Application, Lcom/philliph

[2018-09-11 18:21] Jacoppy opened #351 "Cannot retrieve Constant values from IR"
Hi,
I have another issue for you unfortunately.
I have done a little apk app just for trying to extract some basic variables values , I put this sentence into the onCreate method of the MainActivity:

final int z =1000;

Now with this code section of WALA:
`SymbolTable symbols = n.getIR().getSymbolTable();

for ( int nu :symbols.getParameterValueNumbers()){
	        			System.err.println(nu);

[2018-09-11 18:50] juliandolby commented on #350
I reproduced that failure, and tracked down a buggy bit of code in the Dakvik front end, which I think I fixed.  Can you try again with the latest code from the WALA master?

[2018-09-11 18:51] juliandolby commented on #324
I think I found a bug that is responsible for this.  Can you try now with the latest WALA master, and see if the problem still happens?

[2018-09-11 19:02] juliandolby commented on #351
You are looking at just the parameter values, based on the method you called.  Try using a loop like the one below, to iterate across all value numbers:

```for ( int nu = 1; nu <= symbols.getMaxValueNumber())```

[2018-09-11 19:04] juliandolby commented on #348
see if my recent fixes help with this.  Get the latest WALA master and try this again.

[2018-09-12 02:52] lczxxx123 commented on #350
Sorry , now I'm trouble with proxy to access google so that it's a little hard for me to build source project with gradle automaticlly,  I hope that you will allow me to do it later after i fix my proxy and @you to bother you about the result.

[2018-09-12 13:49] Jacoppy commented on #348
The issue of the first one is fixed, I got no expections back and the programs end normally. On the other hand for the second application, 002F3F9D69805FBD8D53ADF0ED2504F399D3BF4A419218800747E1D3A8BE0BBD.apk,  the analysis takes forever, probably the program get stuck, even if doesn't print out any error or exception.
In any case, thank you very much :))

[2018-09-12 13:49] Jacoppy commented on #351
It works, thank you :)

[2018-09-12 13:49] #351 closed

[2018-09-12 14:04] sifislag commented on #324
I just tried and it seems fixed now.
Thanks!

[2018-09-12 14:09] msridhar commented on #350
@juliandolby can you maybe cut a SNAPSHOT release?  That will make it easier for @lczxxx123 to test I think.  In any case given the number of reports we've gotten we should probably cut a new release once this is confirmed fixed.

[2018-09-12 14:31] juliandolby commented on #320
I assume you are talking about SSA for bytecode; note that SSA is constructed for the source front ends using the standard dominance frontier algorithm.

I believe what can happen is that the same local can be written in two different basic blocks, and then read in a successor block.  This requires a 𝜙 node to merge the writes to the stack slot.

[2018-09-12 14:41] Jacoppy commented on #348
You are right, that setting was responsalbe for the endlessless process. Ok, So I have to tune it up correctly. Thank you very much for the help, I will close this issue now.

[2018-09-12 14:41] #348 closed

[2018-09-12 19:57] juliandolby commented on #324
If stuff seems to work, should we close this issue?

[2018-09-12 22:54] sifislag commented on #324
You should.

[2018-09-12 23:18] #324 closed

[2018-09-13 05:26] lczxxx123 commented on #350
@juliandolby actually i have been stuck in proxy problem for days and not find a way to fix that (i think there might be some problem with my system environment but not proxy), could you please make one snapshot  to help me test if you have time. I'm not in rush because i can still test parts of APKs basing on 1.4.3 .

[2018-09-17 11:53] Jacoppy opened #354 "Is it possible to extract the body of an Android method"
Hi all,
Does WALA support the extraction of the body of and Android method?
Or should I rely on another framework?
Thanks :)

[2018-09-17 16:18] msridhar commented on #354
What do you mean "extract the body"?  Can you give an example of input and
output?

On Mon, Sep 17, 2018 at 4:53 AM Jacoppy <notifications@github.com> wrote:

[2018-09-17 16:36] Jacoppy commented on #354
I mean if it is possible to retrieve some sort of bytecode given a specific Activity.
Retrieving smali or dalvik bytecode...

[2018-09-17 16:45] msridhar commented on #354
For any method coming from bytecode you can [get the Shrike instructions](https://sourcegraph.com/github.com/wala/WALA@1c6a6b0cbd2a6d747dab52ae932326c8c2b7d8cf/-/blob/com.ibm.wala.core/src/com/ibm/wala/classLoader/IBytecodeMethod.java#L43) corresponding to that method.  Not sure what format you want for dalvik bytecodes (raw bytes?) but probably wouldn't be too hard to hack WALA to get it.  But I'

[2018-09-17 16:46] Jacoppy commented on #354
Thank you very much :)

[2018-09-17 16:50] msridhar commented on #354
You're welcome!

[2018-09-17 16:50] #354 closed

[2018-09-18 07:42] reddr opened #355 "JarFileModule cannot be added to scope"
When using [AndroidAnalysisScope.setupAndroidAnalysisScope](https://github.com/wala/WALA/blob/master/com.ibm.wala.dalvik/src/com/ibm/wala/dalvik/util/AndroidAnalysisScope.javal) to set up the scope with a Java Library for the androidLib argument, e.g. the Android SDK jar I receive the following exception:
`[FATAL EXCEPTION] analysis aborted: zip file closed
java.lang.IllegalStateException: zip fil

[2018-09-18 08:19] reddr opened #356 "Add implementation of IMethod/IClass isSynthetic"
I'm maintaining [LibScout](https://github.com/reddr/LibScout) a library detector that identifies Java libraries in Java/Android apps. For the detection I need to extract properties both from compiled java (class) and Android (dex) code. To account for subtle code generation differences between javac/dx/d8 compilers, I filter synthetic methods in a pre-processing step.

Current WALA master does not

[2018-09-18 13:39] juliandolby commented on #356
A pull request would be very helpful.  We would be able to see what you need to change, and also Travis CI would run all of our tests to make sure everything still works.

[2018-09-18 13:58] reddr commented on #356
Here it is: https://github.com/wala/WALA/pull/357

[2018-09-18 16:42] msridhar commented on #355
@liblit looks like you did the refactor.  Any thoughts here?

[2018-09-19 04:48] liblit commented on #355
I agree with @reddr’s assessment that this was part of a batch refactor, and was not adequately tested. Rolling back this part of the change seems wise. If someone wants to review the rest of b1678882b399924b46a127c29143d223254969dc looking for similar problems, that is fine with me but unfortunately I cannot commit the time to doing that myself.

In the absence of such a systematic review, I reco

[2018-09-19 17:08] msridhar commented on #355
@reddr can you open a PR that does the localized revert you suggested?

[2018-09-28 15:59] msridhar commented on #350
@lczxxx123 can you try version `1.5.1-SNAPSHOT` and see if it fixes this problem?  I just put up a new snapshot build.

[2018-09-28 16:04] msridhar commented on #347
Closing but re-open if this is still a problem

[2018-09-28 16:04] #347 closed

[2018-09-28 16:05] msridhar commented on #343
@jgsuess can we close this?  Do we need a documentation fix somewhere?

[2018-09-28 16:05] msridhar commented on #339
Closing but let me know if my assessment was wrong

[2018-09-28 16:05] #339 closed

[2018-09-30 19:19] #355 closed

[2018-10-01 08:08] reddr opened #360 "Make exclusions optional in setupAndroidAnalysisScope"
In _com.ibm.wala.dalvik.util.AndroidAnalysisScope.setUpAndroidAnalysisScope(..)_ the _exclusions_ argument must be non-null iff the _androidLib_ argument is non-null (otherwise _new File(null)_ will raise an exception), but might be null if null is also passed for _androidLib_.
In short:

_setUpAndroidAnalysisScope(someURI, null, someLoader, null)_   is okay
_setUpAndroidAnalysisScope(someURI, nul

[2018-10-03 06:34] reddr commented on #360
Resolved with pull request #361

[2018-10-03 06:34] #360 closed

[2018-10-10 14:18] msridhar commented on #350
I'm going to close under the assumption this is fixed.  @lczxxx123 please re-open if you still see the problem

[2018-10-10 14:18] #350 closed

[2018-10-16 04:55] baileynottingham commented on #346
@Jacoppy I am having a similar issue. Please email baileynottingham@email.arizona.edu if you were able to come up with a solution. Willing to work with you to resolve this issue.

[2018-10-17 10:13] Jacoppy commented on #346
Hey @baileynottingham , do the tests run for you? If I do not remember wrong, I had to compile everything using gradle by hand, project by project, more than using the final gradle wrapper.
But if you need more assistance feel free to text me!

[2018-10-17 16:05] msridhar commented on #346
In order to actually help here, we need step-by-step instructions on how to reproduce.

[2018-10-18 09:07] lhf777111 opened #363 "Find super class of a annonymous class"
When I print ClassHierarchy, I found the super class of a annonymous class is null, how can I find the correct super class?

code::
<pre>
public class AnnonymousClass1 extends Activity {

	private static double latitude;
	private static double longitude;
	private LocationManager locationManager;

	LocationListener locationListener = new LocationListener() {
</pre>

result::
<pre>
Application,Lde/e

[2018-10-18 10:52] #363 closed

[2018-10-18 15:25] kalhauge opened #364 "If a class extend a class that is excluded, it is also excluded."
I've been trying to create a reachable methods analysis using WALA, but it seems
that if a class extend a class that is in the exclude scope, it is also
excluded from a produced callgraph.

## To reproduce:

Java :
[code]

Download wala from the maven repositories.

[code]

Use the following reachable methods analysis:
[code]

To build the analysis run:

[code]

Then analysing the following progra

[2018-10-25 10:41] juliandolby commented on #364
@kalhauge Could you see whether the PhanomClass classes in WALA 1.5.1 change this behavior?

[2018-10-25 16:50] kalhauge commented on #364
Thank you very much. It seems very promising that it could fix the problem.

I have looked through the tags and the latest version is 1.5.0. Where should I download WALA 1.5.1 from? Are you referring to the latest/a special commit on the master branch?

[2018-10-25 16:52] msridhar commented on #364
@kalhauge you can try using version`1.5.1-SNAPSHOT`.  We haven't cut 1.5.1 yet.

Also note that the PhantomClass implementation is quite half-baked.  I've been meaning to bake it further but haven't yet had time.  If you see a crash please let us know.

[2018-10-28 04:00] levoncf opened #365 "Build failure issue: Failed to execute goal org.codehaus.mojo:exec-maven-plugin:1.6.0:exec"
Hi, I faced some troubles when I run `mvn verify -DskipTests=true -q`

**Environment :**
Apache Maven 3.5.3
Java version: 1.8.0_171
mac os x version: 10.13.3
Eclipse Java EE. Version: Oxygen.3a Release (4.7.3a)

Could anyone help me to fix this problem? Thanks a lot!

**Output is as following:**

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary

[2018-10-31 14:34] reddr opened #366 "CHA empty for Java source files"
I tried to generate a CHA using Java source files with the code below.
The code does not fail, but will give me a hierarchy object with no classes
(here I added the Object class as binary to prevent the "failed to load root" error).

[code]
The first obstacle was the $FILENAME you have to provide, given that you already have to provide a File instance. When turning the debugging on for ClassLoader

[2018-11-01 16:16] IscoGary opened #367 "something wrong about Slice result"
![default](https://user-images.githubusercontent.com/24207891/47863771-0138d400-de33-11e8-8c62-9337e534a37d.PNG)
Hi,I try to use slicer to slice the progrm.The statement I want to slice is the parameter E e.
I send the statement [statement:  PARAM_CALLEE:Node: < Application, Llist/LinkedList, linkBefore(Ljava/lang/Object;Llist/LinkedList$Node;)V > Context: Everywhere v2] in SDG as the slice statem

[2018-11-01 16:32] msridhar commented on #367
Forward or backward slice?  Also I don't see `linkBefore` in your example.  A self-contained, reproducible example is always best for getting help

[2018-11-01 17:05] IscoGary commented on #367
Oh sorry ，I made a mistake in last comment.That should be linkFirst,not linkBefore.And the example is forward slice.I just found that line140 contains 2 statements：
statement:  NORMAL linkFirst:5 = new <Application,Llist/LinkedList$Node>@5 Node: < Application, Llist/LinkedList, linkFirst(Ljava/lang/Object;)V > Context: Everywhere
----------140
statement:  NORMAL linkFirst:invokespecial < Applicati

[2018-11-01 17:32] kalhauge opened #368 "Wala does not model Runtime.addShutdownHook"
As mentioned in #364, I'm trying to write a reachable-methods analysis in WALA, but
I have a problem with the following program:

[code]

So even though the program prints "Hello, World!" , the run method is not seen as
reachable.

[code]

[2018-11-01 22:19] kalhauge opened #369 "Wala does not handle Thread.setDefaultUncaughtExceptionHandler"
Yet another special case, as in #368, with the same setup as #364.

[code]

Wala does not model the case where `Thread.setDefaultUncaughtExceptionHandler` can set up a
handler that is called when a runtime exception is never caught.

[2018-11-02 04:45] msridhar commented on #368
Thanks for the reports @kalhauge!  WALA models this kind of thing in `natives.xml`.  E.g. [here](https://github.com/wala/WALA/blob/0752bf321c9a62548ebe38f1dc09b882916c7130/com.ibm.wala.core/dat/natives.xml#L692) is where WALA models the fact that `doPrivileged` ends up invoking `run()` on the argument passed in.  We could do something similar to handle this case.  A PR is welcome.

[2018-11-02 04:46] msridhar commented on #369
Yup, see https://github.com/wala/WALA/issues/368#issuecomment-435269842

[2018-11-02 09:42] reddr commented on #368
Interesting, didn't know about this before. Is this just for call/arg mapping in general or could this also be used as a shortcut for data-dependency mapping, e.g.  if arg1 in StringBuilder.append(arg1) is tainted, put a new rule saying that the returned StringBuilder object is tainted as well, hence removing the need to analyse such commonly used framework code?

I often had this problem for Andr

[2018-11-02 15:29] IscoGary commented on #367
Hello,I met a new problem.It's about options of sdg and slice .
![default](https://user-images.githubusercontent.com/24207891/47923895-8c7a9e00-def5-11e8-8bac-5b12afecca0f.PNG)

It's the same program I want to forwardSlice.The statement I want to slice is line140.As I suppose,the result is line140-145.Because line 146,147 are about instance field,I don't think it should be in the result.
Now I set

[2018-11-02 15:42] IscoGary opened #370 "some problems about Slice result"
![default](https://user-images.githubusercontent.com/24207891/47923895-8c7a9e00-def5-11e8-8bac-5b12afecca0f.PNG)

It's the same program I want to forwardSlice.The statement I want to slice is line140.As I suppose,the result is line140-145.Because line 146,147 are about instance field,I don't think it should be in the result.
Now I set `ControlDependenceOptions.NO_EXCEPTIONAL_EDGES,DataDependenceOp

[2018-11-02 15:43] #367 closed

[2018-11-06 15:51] kalhauge opened #372 "Missing run in the case of java.awt.EventQueue.invoke"
As with #364, we have found that both run methods in this examples are not found reachable.

[code]

I think it has something with both methods call getDefaultToolkit.

[code]

And getDefaultTookit uses reflection under the hood. I do not know the correct level to approximate this.

[2018-11-16 23:53] khatchad commented on #188
I wonder if this has something to do with lambda expressions being represented as anonymous inner class instances.

[2018-11-18 08:50] lhf777111 opened #373 "com.ibm.wala.dalvik.dex.instructions.UnaryOperation cannot be cast to org.jf.dexlib2.iface.instruction.TwoRegisterInstruction"
In com.ibm.wala.dalvik.classLoader.DexIMethod.findOutArrayElementType(), WALA's instruction cannot be cast to org.jf.dexlib2.iface.instruction
![image](https://user-images.githubusercontent.com/16070223/48670369-cda7ba80-eb51-11e8-8785-bf07123ea019.png)

[2018-11-19 04:35] lhf777111 commented on #373
I think the code should change to
![image](https://user-images.githubusercontent.com/16070223/48686559-8542d800-ebf7-11e8-9888-22c860e9f0c8.png)

[2018-11-24 19:39] msridhar commented on #368
@reddr sorry for the slow response.

I wouldn't use the XML for this use case.  It's not really extensible and so putting in taint-analysis-specific stuff won't really work too well I think.  I would find some other way to do one-off library modeling for the taint analysis.  Is there a specific taint analyzer you're using?  I'm surprised it doesn't model the StringBuilder methods already.  Or are

[2018-11-24 19:49] #368 closed

[2018-11-24 19:49] #369 closed

[2018-11-25 02:42] kalhauge commented on #372
@msridhar, we used these exclusions:
[code]

The application we tested is a GUI app.

[2018-11-29 13:31] reddr commented on #322
Pushing this again as it's only partially usable, see discussion in #335 .
I see two possible solutions to the problem:
1. **makeWithRoot()**: Replace missing superclass with hierarchy root (requires almost no changes, side-effect: superclass info is missing)
2. **makeWithPhantom()**: Replace missing superclass with wala-synthetic PhantomSuperclass that holds the name of the missing superclass.

T

[2018-11-30 10:53] reddr commented on #322
@msridhar ok, I can put up a PR for 1.

It would probably look like this:
- in the Factory, I would replace the boolean _makeWithPhantom_ arg by an enum { NORMAL, PHANTOM, ROOT }
- reintroduce the _NoSuperclassFoundException_ class and replicate the try-catch block to check for it
- if _makeWithRoot_ was called the _superClass_ would then simply be set to the rootType

What do you think? Or is you

[2018-11-30 18:32] msridhar commented on #322
@reddr your approach sounds fine.  I'd like to get phantom classes working eventually to give more info to analysis clients, but no timeline on that, and I'm happy to keep the ROOT approach around long-term.

[2018-12-22 20:50] msridhar opened #379 "stop building with Maven and consolidate on Gradle"
Probably several sub-tasks here, including:

* Uploading Maven Central releases via Gradle
* Building all Eclipse-related stuff via Gradle
* Using ecj in Gradle or switching to Error Prone (discussion in #378)

[2018-12-26 18:13] msridhar commented on #379
@liblit any other stuff you recall that needs to be done here?  or is it already documented on your previous massive Gradle PR?

[2018-12-27 03:55] liblit commented on #379
liblit/WALA#6 has some notes regarding replicating Maven’s Eclipse plug-in packaging, which relates to @msridhar’s “Building all Eclipse-related stuff via Gradle” bullet item above.

Someone should review uses of `test.exclude ...` and `test { exclude ... }` in `build.gradle` and `*/build.gradle`. Most of these exclusions match exclusions in Maven builds, which is fine. But any Gradle test exclusi

[2019-01-03 01:01] bronevet opened #384 "Problem installing WALA and compiling tests"
I just grabbed a copy of WALA via "git clone https://github.com/wala/WALA.git" and built it using " ./gradlew build".
25 tests pass, 1 test failed:
com.ibm.wala.cast.test.TestNativeTranslator > testNativeCAst FAILED
    java.lang.UnsatisfiedLinkError at TestNativeTranslator.java:33

I then tried to compile one of the tests via:
javac -cp "/usr/local/buildtools/java/jdk/jre/lib/rt.jar" com.ibm.wala

[2019-01-04 03:57] liblit commented on #384
We have at least two unrelated issues here.

----

First, the test failure:

This test involves a shared library that uses JNI to implement one or more `native` methods. Failing with an `UnsatisfiedLinkError` suggests that the shared library could not be loaded, or was loaded but did not implement the required `native` method(s). The logic for building and running this specific test is quite platf

[2019-01-06 08:47] coder-chenzhi opened #387 "How to get the value of Class Literal?"
I want to get the value of class literal in expressions ilke `LoggerFactory.getLogger(ClassA.class)`. I can get the value of string literal in expression like `LoggerFactory.getLogger("ClassA")` by using `Instruction.getUse(int index)` and `IR.getSymbolTable().getStringValue(int index)`. But this method doesn't work for class constant. It seems that WALA doesn't handle the ClassLiteral, because Sy

[2019-01-06 15:48] msridhar commented on #387
I don't remember 100% but I think you should be able to use a `UseDef` to find the instruction defining the argument to `getLogger`, and that defining instruction should be an `SSALoadMetadataInstruction` whose `TypeReference` argument should give you what you need.  Does that work?

[2019-01-07 07:07] lujiefsi opened #388 ""java.lang.StringIndexOutOfBoundsException" in TypeArgument.parseForTypeArguments"
I have debug the code and find the  odd in TypeArgument.parseForTypeArguments:
<pre>
      case TypeReference.ArrayTypeCode: {
        int off = i - 1;
        while (typeArgs.charAt(i) == TypeReference.ArrayTypeCode) {
          ++i;
        }
        if (typeArgs.charAt(i++) == TypeReference.ClassTypeCode) {
          while (typeArgs.charAt(i++) != ';')
            ;
          args.add(typeArgs.

[2019-01-07 07:36] coder-chenzhi commented on #387
@msridhar Thanks! It works!

[2019-01-07 07:36] #387 closed

[2019-01-14 13:09] WaterWan opened #391 "How to create CG from .jar file?"
My code(The complete vision is in issus20190114.zip/Demo2.java):
[code]

When it runs, it gives out error messages(The complete version in issue20190114.zip/logs.txt):
[code]
What can I do to make the code run successfully? Thank you!

[issue20190114.zip](https://github.com/wala/WALA/files/2755221/issue20190114.zip)

[2019-01-23 07:40] reddr opened #393 "DefaultIRFactory crashes on dex input"
com.ibm.wala.ssa.DefaultIRFactory crashes if the input is dex code (i.e. DexIMethod).
It suffices to call sth like this
[code]
The obvious fix would be to add another _instanceof_ check to the _makeIR_/_makeCFG_ methods and enable processing through a DexIRFactory. However, this does not work since it is in the com.ibm.wala.dalvik package while the rest of the code is in the core package. Simply a

[2019-01-23 18:19] msridhar commented on #393
Hi @reddr, not clear to me this is a bug.  We've had discussions for a while about cleanly separating a "core" package from code that specifically supports Java bytecode, but no one has had the cycles to do that.  So in the meantime, "core" covers both language-independent stuff *and* the Java bytecode frontend.  I don't think moving support for other frontends into core is a good idea (/cc @julia

[2019-01-24 07:34] reddr commented on #393
I see your point that moving the class to the core package somewhat kills the strict separation between frontends. However, it feels strange that the DefaultIRFactory can only handle a subset of cases and crashes hard on the unsupported ones. At the same time, DexIRFactory can handle all cases although its name suggests specialisation.

I'm fine with keeping the separation of code. But probably it

[2019-01-24 17:45] msridhar opened #396 "Add tests for Dalvik parsing"
It's not obvious how to add a good test for a fix to #373 since we don't have any tests specific to the Dalvik parsing code.  We should add a test harness and a test case showing #373 is fixed.  See #392 for further discussion

[2019-01-24 17:46] #373 closed

[2019-01-25 10:59] reddr opened #397 "DexCFG generation crashes on handler computation"
For some methods the DexIMethod.getHandlers() method fails to compute the range of the try-block.
The respective WALA code location has the following comment

Apparently, this does not always hold. By quickly skipping over the smali code of the respective methods it seems that this breaks when the last instructions of the method are a packed-switch table.

The code to trigger the exception is
[cod

[2019-01-25 17:08] msridhar commented on #397
I don't know this code.  @juliandolby can you take a look?

[2019-01-29 07:45] lujiefsi commented on #388
this issue was fixed in [pull-389](https://github.com/wala/WALA/pull/389), close it.

[2019-01-29 07:45] #388 closed

[2019-02-03 18:01] msridhar opened #409 "Proposal: Google Java Format all the things"
I've found some recent code reviews to be hard to read due to inconsistent source code formatting in the repo.  I propose we use [Google Java Format](https://github.com/google/google-java-format) (GJF) to get rid of this problem for Java code.  The basic idea would be:

* Leverage the [GJF Gradle plugin](https://github.com/sherter/google-java-format-gradle-plugin) to run GJF and verify that code i

[2019-02-03 21:02] liblit commented on #409
Overall: :+1:.

I have only weak opinions about code formats, but a _strong_ opinion that whatever format is used must have good tool integration. GJF is available as a command-line tool, a Gradle plugin, an IntelliJ IDEA plugin, an Eclipse plugin, and more. That makes it a fine choice in my book.

I would expect that any modifications to `gradlew` will be overwritten the next time we upgrade Grad

[2019-02-03 21:46] liblit commented on #409
Confusingly, `build` is the Gradle lifecycle task that builds everything _and_ runs all tests. You would use `./gradlew assemble` to build everything without also running tests.

If checking formatting should be part of the automated test suite, then triggering that check as a dependency of `./gradlew build` is the right approach.

[2019-02-03 21:48] liblit commented on #409
Thanks, I appreciate that. For my part, I will postpone any further janitorial work until we either land the mass reformatting or decide not to. No sense adding to a queue that we may need to drain.

[2019-02-03 22:01] msridhar commented on #409
I think we should only be checking formatting for code right before it is merged to master, not as part of the automated tests.  So tweaking things in the CI scripts seems like the right approach.

[2019-02-03 22:03] liblit commented on #409
OK with me.

[2019-02-12 15:32] meciarm opened #419 "Memory leaks in LambdaSummaryClass"
Hello,
we have occured memory leaks probably produced by WALA.

We are using WALA 1.5.0 (via Maven) in JUnit tests. We are computing new ClassHierarchy and CallGraph in every unit test.

In class LambdaSummaryClass, static field _summaries_ seems to collect and hold information about ClassHierarchy from each of previous runs (see attached pictures).
![lambdasummaryclass](https://user-images.github

[2019-02-12 18:23] msridhar commented on #419
Thanks for the report, @meciarm.  I think we should get rid of this static field entirely and put the state inside the `AnalysisCache` or something like that.

In the meantime, due to use of `WeakHashMap` this should only be causing a leak if there is some strong reference from the `LambdaSummaryClass` values back to the `BootstrapMethod` keys.  In your memory profile view can you see if the `Boot

[2019-02-13 15:49] rikiel commented on #419
Hello, @msridhar
There is a circle in references. `LambdaSummaryClass` holds reference to both `BootstrapMethod` (through reference to `SSAInvokeDynamicInstruction`) and to `ClassHierarchy`. And `ClassHierarchy` holds reference back to `LambdaSummaryClass`...

[2019-02-13 16:46] msridhar commented on #419
Ok, that's bad 😐 Let me look into a proper fix for this that will allow for a proper architecture moving forward.  If that takes too long I can just add a static `clear()` method but would rather not.

[2019-02-13 19:20] msridhar opened #420 "Eliminate either AnalysisCache or AnalysisCacheImpl?"
I can't figure out why both of these classes exist.  It seems like `AnalysisCacheImpl` just adds some default constructors that could just as easily be included in `AnalysisCache`.

@juliandolby any idea why we have both of these classes?

[2019-02-13 20:47] msridhar opened #421 "Add something like `set -x` to scripts in travis folder"
It would be nice to be able to see which command is currently running during Travis CI jobs.  Currently we can only see which script from the `travis/` folder is running.  Can we add something like `set -x` from Bash to these scripts so they will print commands as they run?

[2019-02-14 18:52] #419 closed

[2019-02-14 18:53] msridhar commented on #419
@meciarm I believe this leak is fixed.  Are you able to test using WALA master?  If it's helpful I could make a SNAPSHOT build for testing.

[2019-02-14 20:17] SpectrumLi opened #423 "Cannot make call graph for Cassandra"
Hi,

I am trying to build the callgraph for latest Cassandra source code based on Wala but met an error.

CallGraphBuilder<InstanceKey> cgb = Util.makeZeroCFABuilder(options, new AnalysisCacheImpl(), cha, scope);
CallGraph cg = cgb.makeCallGraph(options, null);

I print the cha(ClassHierarchy) which is correctly loaded.
I tried Wala-1.5.* and Wala-1.4.3. I also tried Cassandra-4.0,3.9,3.10 and 3.1

[2019-02-14 20:21] msridhar commented on #419
@meciarm I created a `1.5.2-SNAPSHOT` build that you can use to test if the fix worked.  Please let us know.

[2019-02-14 21:04] msridhar commented on #423
Thanks for the report!  Can you link a cassandra jar that repros the problem?  And how do you set up the entrypoints in the `AnalysisOptions` and the `AnalysisScope`?

[2019-02-14 21:33] SpectrumLi commented on #423
Thanks for your reply!

The jar file is compiled from the latest source code https://github.com/apache/cassandra.
Can I upload it here?  Getting the jar is quite easy: download the code and type "ant" to compile.

I add the entrypoints to analysisOption but not analysisScope. Here are more details about the code:

AnalysisScope scope = AnalysisScopeReader.makeJavaBinaryAnalysisScope(source,exfile)

[2019-02-14 21:34] SpectrumLi commented on #423
the jar name is apache-cassandra-4.0-SNAPSHOT.jar

[2019-02-14 22:31] msridhar commented on #423
I repro'd with [this Cassandra release](https://search.maven.org/artifact/org.apache.cassandra/cassandra-all/3.11.4/jar).  The issue is we don't handle the case where a lambda refers to an unresolved method.  For me this occurred because I analyzed just with the cassandra.jar but not with its dependencies.  When I print warnings from building the class hierarchy I see:

[code]

So `CqlParser` does

[2019-02-15 05:50] liblit commented on #421
Is it OK for the values of `$AUTH_TOKEN` and `$GH_TOKEN` from `travis/script-maven` to be visible in public Travis CI job logs? Or do I need to suppress that verbose output somehow?

[2019-02-15 10:49] rikiel commented on #419
@msridhar , thank you for the quick fix.
It works well, no `ClassHierarchy` classes stays stuck in memory between tests.
When do you plan to release `1.5.2` version?

[2019-02-17 17:10] msridhar commented on #419
@meciarm I can cut a 1.5.2 release soon.  Will let you know when it's done.

[2019-02-17 17:11] msridhar commented on #421
@liblit unfortunately I'm not sure about that.  I thought these things were supposed to be encrypted in some way?  I guess it's safer to suppress if we're not sure.  Sorry, wish I knew more.

[2019-02-17 17:13] msridhar commented on #421
actually looking at [this page](https://blog.travis-ci.com/2017-05-08-security-advisory) it seems that printing these variables is a bad idea, so we should probably suppress

[2019-02-18 16:40] SpectrumLi commented on #423
Thanks so much for your suggestion!
Finally, it works after adding more jars and excluding some classes.

[2019-02-18 17:13] msridhar commented on #423
Ok, great.  We will eventually fix this NPE.  I do wonder if we should find
a better way API-wise to surface class hierarchy warnings to make these
kind of issues more evident.

--Manu

On Mon, Feb 18, 2019 at 8:40 AM SpectrumLi <notifications@github.com> wrote:

[2019-02-18 22:47] msridhar commented on #419
@meciarm 1.5.2 has been released

[2019-02-19 22:05] msridhar opened #424 "Travis Cron job fails to build cast"
https://travis-ci.org/wala/WALA/jobs/495559175

[code]

May want to check other sub-job failures of the same cron job: https://travis-ci.org/wala/WALA/builds/495559170

[2019-02-20 12:34] meciarm commented on #419
@msridhar I have done some additional testing with @rikiel and everything seems to work fine now. Thank you very much for fix.

[2019-02-21 04:48] #421 closed

[2019-02-22 03:49] #424 closed

[2019-02-25 08:11] coder-chenzhi opened #431 "How to get the initial value of static field?"
There are some method invocation take the value of static field as the parameter, and I want to get the  initial value of these static field.  Are there any methods like getInitialValue() can be used? Or  I have to analyze the `<clinit>` method of the class and maintain the initial values myself? Any suggestions? Thanks!

[2019-02-25 16:37] msridhar commented on #431
There is no built-in API for getting the initial value of a static field, as far as I know.  I think your best bet is to look for the relevant `SSAPutInstruction`s inside `<clinit>`.  In the general case you'd have to do a dataflow analysis to figure out the possible values at the end of `<clinit>`.

Does that answer the question?

[2019-02-26 14:34] coder-chenzhi commented on #431
@msridhar Thanks for your reply! I will analyze the `<clinit>` to get the initial value.

[2019-02-26 14:34] #431 closed

[2019-03-09 17:39] #409 closed

[2019-03-15 22:05] karimhamdanali opened #438 "Cannot resolve expression ${workspace_loc:/com.ibm.wala}"
I've followed the build steps @ https://github.com/wala/WALA/blob/master/README-Gradle.md#eclipse to build WALA and import it into Eclipse as a Gradel project. However, when I try running the script `After Importing WALA Into Eclipse`, I get the following error:

` Cannot resolve expression ${workspace_loc:/com.ibm.wala}.`

Where should the directory `com.ibm.wala` be? I have `WALA` in the main wo

[2019-03-15 22:30] msridhar commented on #438
@liblit any ideas here?

[2019-03-16 18:35] liblit commented on #438
`${workspace_loc:/com.ibm.wala}` should expand to the path to the top-level `com.ibm.wala` project, which ought to have been created when you imported WALA into Eclipse. Do you have a top-level `com.ibm.wala` project? If not, then by what name is the overall WALA project known in your Eclipse workspace?

[2019-03-18 00:47] karimhamdanali commented on #438
The overall WALA project is under the name `WALA` when I clone the repo and/or when I import it into Eclipse.

[2019-03-19 01:25] liblit commented on #438
I just imported a pristine WALA clone into Eclipse using the “Existing Gradle Project” import wizard. The WALA tree is in a `WALA` subdirectory in my file system, but that did not matter: Eclipse named the top-level imported project “com.ibm.wala”, not “WALA”. Running the “After Importing WALA Into Eclipse” launcher worked just fine. The `${workspace_loc:/com.ibm.wala}` variable used in that launc

[2019-03-21 21:46] karimhamdanali commented on #438
Hi Ben,

I followed your instructions with a vanilla clone of WALA. However, I still get the same error.

The filesystem directory name is `WALA`, the internal Eclipse name for the project is also `WALA` while the top-level project name is `com.ibm.wala` if I view it in the Gradle Tasks view.

I tried renaming the configuration to `${workspace_loc:/WALA}` but that also gives the same error. The on

[2019-03-27 04:19] liblit commented on #438
@karimhamdanali wrote:

Nutty. If neither `${workspace_loc:/WALA}` nor `${workspace_loc:/com.ibm.wala}` worked for you, then I am quite confused as to how Eclipse thinks you should be using these `$variables` to refer to the project.

I upgraded my Eclipse installation to 2019-03 (4.11.0), Build id: 20190314-1200. My Buildship plugin (which provides Eclipse + Gradle integration) is at 3.0.1.v20181